<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Village Reach Prototype vrMIS3</title>

  <%= javascript_include_tag Rails.env == 'development' ? 'jquery.js' : 'jquery.min.js',
                             'olmis_common.js',
                             'olmis_formgrid.js',
                             'olmis_reports.js',
                             'olmis_online.js',
                             Rails.env == 'development' ? 'jquery-ui.custom.js' : 'jquery-ui.custom.min.js',
                             'jquery-ui-i18n.js',
                             'jquery.autocomplete.js',
                             'jquery.jqplot.min.js',
                             'plugins/jqplot.categoryAxisRenderer.min.js',
                             'plugins/jqplot.canvasTextRenderer.min.js',
                             'plugins/jqplot.canvasAxisLabelRenderer.min.js',
                             'plugins/jqplot.canvasAxisTickRenderer.min.js',
                             'plugins/jqplot.barRenderer.min.js',
                             :cache => "cache/js" %>

  <%= stylesheet_link_tag "blueprint/screen.css", "jquery.autocomplete.css", :cache => "cache/sp",          :media => "screen, projection"  %>
  <%= stylesheet_link_tag "ui/jquery-ui.custom.css", "jquery.jqplot.css", "style", "theme", "visit", "custom",  :cache => "cache/all",   :media => "all"                %>
  <%= stylesheet_link_tag "blueprint/print.css", "print",                                                   :cache => "cache/print", :media => "print"              %>
  
  <!--[if IE]>
    <%= javascript_include_tag "excanvas.min.js" %>
    <![if lt IE 8]>
      <%= stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection" %>
      <%= stylesheet_link_tag "ie.css" %>
    <![endif]>
  <![endif]-->
</head>

<body class="<%= @controller.controller_name %> <%= @controller.action_name %>">

<div id="header" class="container">
  <h1><a href="/">Village Reach Prototype vrMIS3</a></h1>

  <div id="user_tools">
    <%= render :partial => "layouts/locale" %>
    <% if @current_user %>
      <% user_display_name = @current_user.name.blank? ? @current_user.username : @current_user.name %>
      <p id="login">
        <em><%= h(t("logged_in_as")) %></em> <strong><%= h user_display_name %></strong>
        <%= link_to(h(t("my_profile")), profile_user_path(@current_user)) %>
        <%= link_to(h(t("logout")), logout_url) %>
      </p>
    <% end %>
  </div>
</div>


<div id="main" class="container">
  <% if @current_user %>
    <% unless @minimal_layout %>
      <div id="tabs">
        <ul class="navigation">
          <%- nav_length = role_specific_tabs.length
              role_specific_tabs.each_with_index do |(label, path), index|
                tab_classes = [ "tab", "tab-#{nav_length}" ]
                tab_classes.push("current") if current_tab?(path)
                tab_classes.push("first") if index == 0
                tab_classes.push("last") if index == nav_length - 1 -%>
            <li class="<%= tab_classes.join(' ') %>"><%= link_to h(t(label)), path %></li>
          <%- end -%>
        </ul>
      </div>
    <% end %>

    <% if @breadcrumbs.present? && !@suppress_breadcrumbs %>
      <p id="breadcrumbs">
        <label><%= h(t("you_are_here")) %></label>
        <% @breadcrumbs[0..-2].each do |txt, path| %>
          <%= link_to(h(breadcrumb_string(txt)), path) %>
          <img src="/images/icons/silk/arrow_right.png" width="16px" height="16px" alt="&gt;" />
        <% end %>
        <strong><%= h breadcrumb_string(@breadcrumbs.last.first) %></strong>
      </p>
    <% end %>
  <% end %> <%# /if @current_user %>

  <div id="error-flash"><%= flash[:error] %></div>
  <div id="notice-flash"><%= flash[:notice] %></div>

  <%= render :partial => "layouts/#{controller.sub_layout}" %>
</div>

<div id="footer" class="container clear">
  <div class="content">
    <p class="copyright"><%= t("copyright") %></p>
    <p class="tools"><%= t("documentation_link_short") %><% if Rails.env == 'development' %> | <%= link_to "clear cache", nuke_caches_path %><% end %></p>
  </div>
</div>

</body> 
</html>
