<h2><%= h(t("pickups.inventory.page_title", :delivery_zone => @zone.name, :visit_month => I18n.l(Date.from_date_period(@current_date_period), :format => :short_month_of_year))) %></h2>

<h4><%= h(t("pickups.inventory.before_visit")) %></h4>

<div class="prepend-7 span-16 last">
  <div class="wrapper">
    <div class="header">
      <!--span><%= h(t("pickups.inventory.province", :name => @zone.warehouse.administrative_area.name)) %></span-->
    </div>

    <table class="inventory inventory-form">
      <thead>
        <tr>
          <th class="empty"></th>
          <th><%= h(t("pickups.inventory.package")) %></th>
          <th class="amount"><%= h(t("pickups.inventory.requested")) %></th>
        </tr>
      </thead>
      <%- Package.active.sort.partition_by{|package| package.product.product_type}.each do |type, stocks| -%>
        <tbody>
          <%- stocks.sort.each_with_index do |package, idx| -%>
            <tr class="inventory_row">
              <%- if idx == 0 -%>
                <td class="group_label"><%= h type.label %></td>
              <%- else -%>
                <td></td>
              <%- end -%>
              <td><%= h package.label %></td>
              <td class="amount"><%= text_field_tag "warehouse_pickup-#{package.code}", @amounts[package], :readonly => true %></td>
            </tr>
          <%- end -%>
        </tbody>
      <%- end -%>
    </table>

    <div id="isa" style="display: none">
      <form method="get" action="<%= isa_redirect_path %>" >

        <%= link_to_function( t('inventory.change_isa'), js_show_hide('change_isa_fields','change_isa_link'), :id=>'change_isa_link') %>
        <span id='change_isa_fields' style='display: none'>
          <%= t('inventory.change_isa_for') %>:  <%=select_tag(:hc, options_from_collection_for_select(@zone.health_centers, 'code', 'name')) %> <%= submit_tag t('go') %>
        </span>
      </form>
    </div>
  </div>
</div>
