<h2><%=t('breadcrumb.pickups',:name => @zone.name)%></h2>

<div class="span-8 prepend-8">
<h3><%=t('inventory.recent_pickups')%></h3>

<ul>
<%- @pickups.each do |pickup| -%>
<li><%=link_to(l(pickup.date), pickup_path(@zone.code,pickup.date))%></li>
<%- end -%>
</ul>

<%= link_to( t('inventory.new_pickup'), pickup_new_path(@zone.code) )%>

<br /><br />
<form method="get" action="<%= isa_redirect_path %>" >

<%= link_to_function( t('inventory.change_isa'), js_show_hide('change_isa_fields','change_isa_link'), :id=>'change_isa_link') %>
<span id='change_isa_fields' style='display: none'>
<%= t('inventory.change_isa_for') %>:  <%=select_tag(:hc,options_from_collection_for_select(@zone.health_centers, 'code', 'name')) %> <%= submit_tag t('go') %>
</span>

</form>

</div>