<% interactive_parameters ||= nil %>
<% tables ||= nil %>
<% graphs ||= nil %>
<% tab_graphs ||= nil %>
<% if interactive_parameters.empty? %>
<div class="span-24 last">
  <h4><%= t 'reports.report_parameters' %></h4>
  <form id="stockouts_params">
    <%= render :partial => '/shared/administrative_area_selector' %>

    <label for="date_period_range"><%= t('reports.date_range') %>:</label>
    <%= select_tag(:date_period_range, options_for_select(date_period_range_options, @date_period_range)) %> 

    <%= submit_tag t("reports.update_report"), :disabled => true %>
    <span id="submit_spinner" class="loading-indicator" style="display: none;"><%= t('loading') %><%= image_tag('indicator-small.gif', :size => '13x10') %></span>
  </form>
<% else %>
<div class="span-6 parameters">
  <h4><%= t 'reports.report_parameters' %></h4>
  <form id="stockouts_params">
    <%= render :partial => '/shared/administrative_area_selector' %>
    <p class="date_selector">
      <label for="date_period_range"><%= t('reports.date_range') %>:</label>
      <%= select_tag(:date_period_range, options_for_select(date_period_range_options, @date_period_range)) %> 
    </p>
  
    <%= submit_tag t("reports.update_report"), :disabled => true %>
  </form>
  <form id="options">
    <% interactive_parameters.each do |param| %>
      <div class="option_group">
        <%= render :partial => 'interactive_' + param %>
      </div>
    <% end %>    
  </form>
</div>
<div class="span-18 last">
<% end %>
<% if tables %>
    <div class="tables">
    <% tables.each do |title, g|  %>
      <%= @controller.table_object( g ) %>
      <p class="export_as_csv"><%= link_to t( 'reports.export_as_csv' ), g[:params].merge({ :controller => 'graph_data', :action => :graph, :format => 'csv' }) %></p>
    <% end %>
    </div>
  <% end %>

  <% if graphs %>
    <div class="graphs">
    <% graphs.each do |title, g|  %>
      <%= @controller.chart_object( 600, 300, g ) %>
      <p class="export_as_csv"><%= link_to t( 'reports.export_as_csv' ), g[:params].merge({ :controller => 'graph_data', :action => :graph, :format => 'csv' }) %></p>
    <% end %>
    </div>
  <% end %>
  
  <% if tab_graphs %>
    <% @tab_graph_count ||= 0 %>
    <%  tab_graph_id = "tab_graphs_#{ @tab_graph_count += 1 }" %>
    <%= javascript_tag "jQuery(function(){ jQuery('##{tab_graph_id}').tabs() })" %>
    <div id="<%= tab_graph_id %>" class="tab_graphs ui-tabs">
      <ul>
        <%- tab_graphs.each do |title, graph| -%>
          <li class="<%= tab_graph_dimension %> <%= title.gsub(/\W+/,'_') %>" id="tab-<%= tab_graph_id %>-<%= title.gsub(/\W+/,'_') %>"><a href="#div:<%= tab_graph_id %>:<%= title.gsub(/\W+/,'_') %>"><%= title %></a></li>
        <%- end -%>
      </ul>
      <%- tab_graphs.each do |title, graph| -%>
        <div id="div:<%= tab_graph_id %>:<%= title.gsub(/\W+/,'_') %>" class="ui-tabs-hide <%= tab_graph_dimension %> <%= title.gsub(/\W+/,'_') %>">
          <%= @controller.chart_object( 400, 240, graph) %>
          <p class="export_as_csv"><%= link_to t( 'reports.export_as_csv' ), graph[:params].merge({ :controller => 'graph_data', :action => :graph, :format => 'csv' }) %></p>
        </div>
      <%- end -%>
      <%= javascript_tag "jQuery('##{tab_graph_id}').bind('tabsshow', function(event, ui) { id = jQuery('##{tab_graph_id} > div > div.plot')[ui.index].id; if (jqplots[id]) jqplots[id].redraw(); } )" %>
      <br clear="both" />
    </div>
  <% end %>
</div>

<% javascript_tag do %>
  jQuery(function() {
    <% unless interactive_parameters.empty? %>
      plot_options("<%= interactive_parameters.map { |p| %Q{'#{p.singularize}'} }.join(', ') %>");
      jQuery('#options input[type=checkbox]').click(function() {
        plot_options("<%= interactive_parameters.map { |p| %Q{'#{p.singularize}'} }.join(', ') %>");
      });
    <% end %>
    jQuery('#stockouts_params select').change(function() {
      jQuery(this).parents('form').find('input[type=submit]').attr('disabled', false);
    });
    jQuery('#stockouts_params input[type=submit]').click(function() {
      jQuery(this).attr('disabled', true);
      jQuery('#submit_spinner').show();
    });
  });
<% end %>
