<h2><%= t('.report_front_title') %></h2>

<div style="padding-left:50px">
  <h4><%= t('.inventory_management_report') %></h4> 
	<ul>
	<li><%= link_to t('.stockouts_by_date'), :action => 'stockouts' %></li>
	</ul>
  <h4><%= t('.cold_chain_report') %></h4> 
	<ul>
	<li><%= link_to t('.fridge_issues_by_date'), :action => 'fridge_issues' %></li>
	</ul>
  <h4><%= t('.field_coordinator_report') %></h4>
	<ul>
	<li><%= link_to t('.visited_health_centers'), :action => 'visited_health_centers' %></li>
	</ul>
  <h4><%= t('.delivery_interval') %></h4>
	<ul>
	<li><%= link_to t('.delivery_interval'), :action => 'delivery_interval' %></li>
	</ul>
  <h4><%= t('.epi_vaccination_report') %></h4> 
	<ul>
	<li><%= link_to t('.coverage_rates'), :action => 'coverage' %></li>
	</ul>
  <h4><%= t('.autoeval') %></h4> 
 	<ul>
	<li><%= link_to t('.autoeval_report'), :action => 'autoeval' %></li>
	</ul>
</div> 
