<h2><%= t('reports.index.stockouts_map_by_date') %></h2>

<div class="span-8 parameters">
  <h4><%= t :report_parameters %></h4>
  <form id="maps_params">
    <ul class="radio">
      <% Product.trackable.each do |t| %>
        <li>
          <%= check_box_tag('product_id[]', t.id, @products.include?(t), :id => "product_id_#{t.id}") %>
          <%= label_tag("product_id_#{t.id}", t.label) %>
        </li>
      <% end %>
    </ul>

    <p class="date_selector">
      <label for="date_period_range"><%= t('reports.date_range') %>:</label>
      <%= select_tag(:date_period_range, options_for_select(date_period_range_options, @date_period_range)) %> 
    </p>
    
    <p class="submit">
      <%= submit_tag t("reports.update_map"), :disabled => true %>
      <span id="map_spinner" class="loading-indicator" style="display: none;"><%= t('loading') %><%= image_tag('indicator-small.gif', :size => '13x10') %></span>
    </p>
  </form>
  
<% if @map %>
  <h4><%= t( 'reports.legend' ) %></h4>
  <span style="background-color: <%= @map.max_color %>; border: thin solid black;">&nbsp;&nbsp;&nbsp;</span> 
    <%= @map.max %></span><br />
  <span style="background-color: <%= @map.min_color %>; border: thin solid black;">&nbsp;&nbsp;&nbsp;</span> 
    <%= @map.min %></span><br />
    <p><%= t( 'reports.circle_size_porportional_to_population') %></p>
<% end %>
  
</div>

<% if @map %>
  <div class="span-16 last">
    <%= GMap.header(:host => request.host, :hl => I18n.locale) %>
    <%= @map.map.to_html %>
    <%= @map.map.div(:width => 600, :height => 400) %>
  </div>
<% end %>

<% javascript_tag do %>
  jQuery(function() {
    jQuery('#maps_params select').change(function() {
      jQuery(this).parents('form').find('input[type=submit]').attr('disabled', false);
    });
    jQuery('#maps_params input[type=checkbox]').click(function() {
      jQuery(this).parents('form').find('input[type=submit]').attr('disabled', false);
    });
    jQuery('#maps_params input[type=submit]').click(function() {
      jQuery(this).attr('disabled', true);
      jQuery('#map_spinner').show();
    });
  });
<% end %>
