<%- form_tag( { } ) do -%>

<div class="epi">
  <%= render :partial => 'errors', :locals => { :errors => @errors } %>

  <p class="note"><%= h(t("visits.nr_instructions")) %></p>

  <% begin %>
    <%= render :partial => @screen %>
  <% rescue ActionView::MissingTemplate %>  
    <%= tally_table(HealthCenterVisit.klass_by_screen[@screen]) %>
  <% end %>

  <%= save_and_continue %>

</div>
<%- end -%>

<% if @current_user.admin? %>
<%= link_to("Generate Online ERB", :overwrite_params => { :format => :erb, :type => :html }) %>
<%= link_to("Generate Xforms ERB", :overwrite_params => { :format => :erb, :type => :xforms }) %>
<% end %>  

