<% form_tag do %>
<h3><%= h current_link.first %></h3>

<%- if !@errors.empty? -%>
<div id="error">
  <ul>
    <%- @errors.each do |key, hash| -%>
      <%- hash.each do |part, errors| -%>
        <%- errors.each_full do |msg| -%>
          <li><%= h msg %></li>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </ul>
</div>
<%- elsif !@existing_inventory.errors.empty? || !@delivered_inventory.errors.empty?-%>
<div id="error">
  <%= @existing_inventory.errors.full_message unless @existing_inventory.errors.empty? %>
  <%= @delivered_inventory.errors.full_message unless @delivered_inventory.errors.empty? %>
</div>
<%- end -%>

<p class="note"><%= h(t(".instructions")) %></p>

<%- screen = params[:screen].underscore -%>
<%- packages = Package.all.select { |p| Inventory.directly_collected_types.any? { |t| p.inventoried_by_type?(t, screen) } } -%> 
<%- types = Inventory.directly_collected_types.select { |t| packages.any? { |p| p.inventoried_by_type?(t, screen) } } -%>

<%- fields_for :inventory_counts do |f| -%>
<table class="inventory">
  <thead>
    <tr>
      <th><%= h(t("visits.health_center_inventory.#{screen}.product_header")) %></th>
      <th><%= h(t(".ideal_quantity")) %></th>
      <%- types.each do |t| -%>
      <th><%= h(t(".#{t}")) %></th>
      <%- end -%>
      </tr>
  </thead>
  <%- packages.partition_by{|package| package.product.product_type_code}.each do |type, stocks| -%>
    <tbody>
      <%- stocks.each do |package| -%>
        <%- index = package.code -%>
        <tr>
          <th><%= h package.label %></th>
          <td class="static"><%= h(number_with_delimiter( @stock[:ideal][index] )) if @stock[:ideal][index] %></td>
          <%- types.each do |t| -%>
            <td>
              <%- if package.inventoried_by_type?(t, screen) -%>
                <%- stock_value = default_field_value(params[:inventory_counts], index.to_s, t, @stock[t][index].quantity) -%>
                <%- nr_checked = !@stock[t][index].new_record? && default_field_value(params[:inventory_counts], index.to_s, "#{t}/NR", stock_value.to_s.empty? ? '1' : '0') == '1' -%>
                <%= nr_field(f, t,  index, stock_value,  nr_checked,  (@errors[index][t].on(:quantity) rescue nil), !Inventory.nullable_types.include?(t)) %>
              <%- end -%>
            </td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  <%- end %>
</table>

<%- end -%>
<%= save_and_continue %>
<%- end -%>
