<%- form_tag do -%>
  <%= render :partial => 'errors', :locals => { :errors => @errors } %>

  <table class="equipment">
    <thead>
      <tr>
        <th></th>
        <th><%= h(t(".present")) %></th>
        <th><%= h(t(".working")) %></th>
        <th><%= h(t(".notes")) %></th>
      </tr>
    </thead>
    <tbody>
      <%- @equipment_statuses.each_with_index do |status,idx| -%>
        <%- index = status.equipment_type_code.to_s
            values = { :present => nil, :working => nil }
            unless status.new_record?
              [ :present, :working ].each do |column|
                default_value = default_field_value(params[:equipment_status], index, column.to_s, status.send(column).to_s)
                values[column] = default_value.blank? ? "nr" : default_value
              end
            end
         -%>
        <tr>
          <th><%= h status.equipment_type.label %></th>
          <%- [ :present, :working ].each do |column| -%>
            <td>
              <div class="boolean <%= 'error' if @errors[:equipment_status][index].on(column) rescue nil %>">
                <%- [ [ h(t("yes")), "true" ], [ h(t("no")), "false" ], [ h(t("NR")), "nr" ] ].each do |l,v| -%>
                  <%= radio_button :equipment_status, column, v, :index => index, :checked => values[column] == v %>
                  <%= label :equipment_status, v, l, :for => "equipment_status_#{index}_#{column}_#{v}" %>
                <%- end -%>
              </div>
            </td>
          <%- end -%>
          <%- if idx == 0 -%>
            <td rowspan="<%= @equipment_statuses.count %>">
              <div class="<%= 'error' if @errors[:equipment_status][index].on(:notes) rescue nil %>">
                <%= text_area :equipment_status, :notes, :size => "30x8", :value => status.health_center_visit.equipment_notes %>
              </div>
            </td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  <%= save_and_continue %>
<%- end -%>
