<%- form_for(@visit, :url => health_center_visit_path(visit_month, @health_center.code), :html => { :multipart => true }) do |f| -%>
    <%= f.error_messages %>

    <p class="radio_label"><%= h(t(".was_this_visited", :name => @health_center.label, :month => l(Date.from_date_period(visit_month), :format => "month_of_year"))) %></p>

    <ul class="radio was_visited">
        <li>
            <%= f.radio_button :visited, true, :checked => @visit.new_record? || (@visit.visited && @current_user == @visit.field_coordinator), :onclick => js_show_hide(:visit_fields, :nonvisit_fields) %>
            <%= f.label :visited_true, h(t(".yes_i_visited")) %>
        </li>
        <!--li>
          <%= f.radio_button :visited, 'else', :checked => !@visit.new_record? && @visit.visited? && @current_user != @visit.field_coordinator, :onclick => js_show_hide(:visit_fields, :nonvisit_fields) %>
            <%= f.label :visited_else, h(t(".yes_someone_else_visited")) %>:
            <%= f.select :user_id, fc_options_by_delivery_zone(@health_center.delivery_zone, @current_user), {},
            :onclick => js_show_hide(:visit_fields, :nonvisit_fields) + js_set_checked('health_center_visit_visited_else')  %>
        </li-->
        <li>
            <%= f.radio_button :visited, false, :checked => !@visit.visited, :onclick => js_show_hide(:nonvisit_fields,:visit_fields) %>
            <%= f.label :visited_false, h(t(".no_noone_visited")) %>
        </li>
    </ul>

    <%- visible_container('visit_fields', @visit.visited, 'dl', 'stacked') do -%>
        <dt><%= f.label :visited_at, h(t(".date")) %></dt>
        <dd class="datepicker">
          <%= f.hidden_field :visited_at, :value => (@visit.visited_at || Date.from_date_period(visit_month)).to_s(:db) %>
          <%= f.text_field :i18n_visited_at, :value => I18n.l(@visit.visited_at || Date.from_date_period(visit_month)) %>
        </dd>

        <dt><%= f.label :vehicle_code, h(t(".vehicle_code")) %></dt>
        <dd><%= f.text_field :vehicle_code %></dd>
    <%- end -%>

    <%- visible_container('nonvisit_fields', !@visit.visited, 'dl', 'stacked') do -%>
        <dt><%= f.label :reason_for_not_visiting, h(t(".reason_for_not_visiting")) %></dt>
        <dd>
          <ul id="non_visit_reason" class="radio">
            <%- HealthCenterVisit.unvisited_options.each do |label,code| -%>
              <li>
                <%= f.radio_button :reason_for_not_visiting, code, :checked => !@visit.new_record? && @visit.reason_for_not_visiting == code, :onclick => js_do(code == 'other' ? :show : :hide, :health_center_visit_other_non_visit_reason) %>
                <%= f.label "reason_for_not_visiting_#{code}", h(label) %>
              </li>
            <%- end -%>
          </ul>
          <%= f.text_area :other_non_visit_reason, :style => "display:#{@visit.reason_for_not_visiting == 'other' ? 'block' : 'none'}" %>
        </dd>
    <%- end -%>

    <%= save_and_continue %>
<%- end -%>

<% javascript_tag do
     first_day = Date.from_date_period(visit_month).beginning_of_month
     last_day = [ Date.from_date_period(visit_month).end_of_month, Date.today ].min %>
  setup_datepicker('.datepicker input[type="text"]',
                   {
                     minDate: new Date(<%= [ first_day.year, first_day.month - 1, first_day.day ].join(',') %>),
                     maxDate: new Date(<%= [  last_day.year,  last_day.month - 1,  last_day.day ].join(',') %>),
                     altField: '#health_center_visit_visited_at',
                     altFormat: $.datepicker.ISO_8601
                   });
<% end %>
