<%- form_tag do -%>
  <%= render :partial => 'errors', :locals => { :errors => @errors } %>

  <table class="equipment spreadsheet">
    <thead>
      <tr>
        <th></th>
        <th><%= h(t(".have")) %></th>
        <th><%= h(t(".use")) %></th>
      </tr>
    </thead>
    <tbody>
      <%- @stock_card_statuses.each do |status| -%>
        <%- index = status.stock_card_code.to_s
            values = { :have => nil, :used_correctly => nil }
            unless status.new_record?
              [ :have, :used_correctly ].each do |column|
                default_value = default_field_value(params[:equipment_status], index, column.to_s, status.send(column).to_s)
                values[column] = default_value.blank? ? "nr" : default_value
              end
            end
         -%>
        <tr>
          <th><%= h status.stock_card.label %></th>
          <%- [ :have, :used_correctly ].each do |column| -%>
            <td>
              <div<%= ' class="error"' if @errors[:stock_card_status][index].on(column) rescue nil %>">
                <%- [ [ h(t("yes")), "true" ], [ h(t("no")), "false" ], [ h(t("NR")), "nr" ] ].each do |l,v| -%>
                  <%= radio_button :stock_card_status, column, v, :index => index, :checked => values[column] == v %>
                  <%= label :stock_card_status, v, l, :for => "stock_card_status_#{index}_#{column}_#{v}" %>
                <%- end -%>
              </div>
            </td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  <%= save_and_continue %>
<%- end -%>
