<%
=begin
%>
<h2><%= h(t(".find_visit")) %></h2>

<div class="span-16 prepend-8"><%= render :partial => 'health_center_search' %></div>
<%
=end
%>

<hr />
<div id="search_and_recent"  class="span-8 prepend-6">
  <h3><%= h(t(".recent_hcs")) %></h3>
  <%= render :partial => "recent_activity" %>
</div>

<div class="span-8 last">
  <h3><%= h(t(".recent_months")) %></h3>
  <%= render :partial => 'shared/recent_months' %>
</div>

<div id="outstanding_forms" class="span-8 last">
  <h3><%= h(t("visits.offline_forms")) %></h3>
  <%= link_to(h(t("visits.go_to_offline_data_entry")), offline_visit_url(:province => @current_user.delivery_zone.warehouse.stock_room.province.code, :name => "hcvisit", :locale => I18n.locale)) %>
</div>
<%= js_show_or_hide_offline_forms_div("outstanding_forms") %>
