<div id="fridges"></div>
<%= button_to_function(h(t("data_sources.hcvisit.add_fridge")), "new_fridge()", :id => "add-fridge") %>

<script type="text/html" id="fridge_template">
  {{each(i,fridge) data}}
    <div class="fridge-data">
      <div class="fridge-id">
        <label for="fridge_status_${ i }_fridge_code"><%= jt(t("visits.health_center_cold_chain.fridge_id")) %></label>
        <input class="fridge_status-fridge_code" id="fridge_status_${ i }_fridge_code" name="fridge_status[${ i }][fridge_code]" type="text" required />
        <a href="#" class="delete-fridge"><%= jt(t("data_sources.hcvisit.delete_fridge")) %></a>
      </div>
      <div class="two-column">
        <div class="fridge-in">
          <div class="fridge-past_problem">
            <div><%= jt(t("visits.health_center_cold_chain.past_problem")) %></div>
            <ul class="radio">
              <%- [ [ jt(t("yes")), "true" ], [ jt(t("no")), "false" ], [ jt(t("unknown")), "nr" ] ].each do |label,value| -%>
                <li>
                  <input class="fridge_status-past_problem" id="fridge_status_${ i }_past_problem_<%= value %>" name="fridge_status[${ i }][past_problem]" value="<%= value %>" type="radio" required />
                  <label for="fridge_status_${ i }_past_problem_<%= value %>"><%= label %></label>
                </li>
              <%- end -%>
            </ul>
          </div>
          <div class="fridge-temp">
            <div><%= jt(t("visits.health_center_cold_chain.arrival_temp")) %></div>
            <div>
              <label for="fridge_status_${ i }_temperature"><%= jt(t("visits.health_center_cold_chain.temp_input_prefix")) %></label>
              <input class="fridge_status-temperature" id="fridge_status_${ i }_temperature" name="fridge_status[${ i }][temperature]" type="number" required />
              <span><%= jt(t("visits.health_center_cold_chain.temp_input_suffix")) %></span>
            </div>
          </div>
        </div>
        <div class="fridge-out">
          <div class="fridge-state">
            <div><%= jt(t("visits.health_center_cold_chain.departure_state")) %></div>
            <ul class="radio">
              <%- [ [ jt(t("yes")), "OK" ], [ jt(t("no")), "problem" ], [ jt(t("unknown")), "nr" ] ].each do |label,value| -%>
                <li>
                  <input class="fridge_status-state" id="fridge_status_${ i }_state_<%= value %>" name="fridge_status[${ i }][state]"
                    <%- if value == "problem" -%>
                         onclick="$(\'#fridge-problem-${ i }\').show();"
                    <%- else -%>
                         onclick="$(\'#fridge-problem-${ i }\').hide();"
                    <%- end -%>
                         value="<%= value %>" type="radio" required />
                  <label for="fridge_status_${ i }_state_<%= value %>"><%= label %></label>
                </li>
              <%- end -%>
            </ul>
          </div>
          <div id="fridge-problem-${ i }" class="fridge-problem checkbox-group" style="display: none;">
            <div><%= jt(t("visits.health_center_cold_chain.problem")) %></div>
            <ul class="check-list">
              <%- FridgeStatus.not_ok_status_options.each do |label,value| -%>
                <label>  
                  <input class="fridge_status-problem" id="fridge_status_${ i }_problem_<%= value %>" name="fridge_status[${ i }][problem][]"
                    <%- if value == "OTHER" -%>
                         onclick="$(\'#fridge-other_problem-${ i }\').toggle();"
                    <%- end -%>
                         value="<%= value %>" type="checkbox" />
                  <%= jt(label) %>
                </label>
              <%- end -%>
            </ul>
            <div id="fridge-other_problem-${ i }" class="fridge-other_problem" style="display: none;">
              <textarea class="fridge_status-other-problem" id="fridge_status_${ i }_other_problem" name="fridge_status[${ i }][other_problem]"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  {{/each}}
</script>
<script type="text/javascript">
function new_fridge(code) { 
  $.push(olmis_instance.fridge_status,
    {
      fridge_code:   code || '',     
      past_problem:  '',
      temperature:   '',
      state:         '',
      problem:       [],
      other_problem: ''             
    });
}

function refresh_fridges() {
  $("#fridges").empty().append("fridge_template", {data:olmis_instance.fridge_status});
  $('#fridges *:input').blur(serialize_visit);
  $('#fridges *:input').addClass('enabled');
  $('#fridges').setupValidation();

  if (olmis_instance.fridge_status.length == 1) {
    $(".delete-fridge").hide(); // Hide the delete action if there's only one fridge because it can't be deleted
  } else {
    $(".delete-fridge").show();
  }

  // bind inputs to the data items
  $(".fridge-data").each(function(i) {
    var fridge_status = olmis_instance.fridge_status[i];
    $(".delete-fridge", this).click(function() { $.splice(olmis_instance.fridge_status, i, 1); });

    $(".fridge_status-fridge_code", this).linkFrom("val", fridge_status, "fridge_code").linkTo("val", fridge_status, "fridge_code");
    $(".fridge_status-past_problem", this).each(function() {
      $(this).linkFrom("checked", fridge_status, "past_problem", radioValueFn($(this).val()));
      $(this).linkTo("val", fridge_status, "past_problem");
    });
    $(".fridge_status-temperature", this).linkFrom("val", fridge_status, "temperature").linkTo("val", fridge_status, "temperature");
    $(".fridge_status-state", this).each(function() {
      $(this).linkFrom("checked", fridge_status, "state", radioValueFn($(this).val()));
      $(this).linkTo("val", fridge_status, "state");
    });
    // FIXME: The check box bindings are wrong
    $(".fridge_status-problem", this).each(function() {
      $(this).linkFrom("checked", fridge_status, "problem");
      $(this).linkTo("checked", fridge_status, "problem");
    });
    $(".fridge_status-other_problem", this).linkFrom("val", fridge_status, "other_problem").linkTo("val", fridge_status, "other_problem");
  });
}
    
$(function() {
  $.templates.fridge_template = $.tmpl($("#fridge_template").html());
});
</script>
