    <div id="fc-home" class="container login inline">   
      <h2><%= h(t("data_sources.hcvisit.fc_main.page_title")) %></h2>

      <table>
        <tbody>
          <tr>
            <td>
              <form onsubmit="set_context(); return false;">
                <h3><%= h(t("data_sources.hcvisit.fc_main.choose_subtitle")) %></h3>
                <div>
                  <label for="dz_selector"><%= h(t("delivery_zone")) %></label>
                  <select id="dz_selector"></select>

                  <br clear="left">

                  <label for="vdp_selector"><%= h(t("data_sources.hcvisit.visit_month")) %></label>
                  <select id="vdp_selector"></select>

                  <br clear="left">

                  <div style="display: none" show_if_selected="visit_period_selected">
                    <button id="select_location"><%= h(t("data_sources.hcvisit.fc_main.choose_button")) %></button>
                  </div>
                </div>
              </form>
            </td>

            <td id="fc-actions-overview">
              <dl>
                <dt><%= h(t("data_sources.hcvisit.fc_main.before.title")) %></dt>
                <dd><%= h(t("data_sources.hcvisit.fc_main.before.prepare_load")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.before.determine_pickups")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.before.record_pickups")) %></dd>

                <dt><%= h(t("data_sources.hcvisit.fc_main.during.title")) %></dt>
                <dd><%= h(t("data_sources.hcvisit.fc_main.during.collect_at_district")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.during.collect_at_health_center")) %></dd>

                <dt><%= h(t("data_sources.hcvisit.fc_main.after.title")) %></dt>
                <dd><%= h(t("data_sources.hcvisit.fc_main.after.return")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.after.input")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.after.review")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.after.upload")) %></dd>
              </dl>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="fc-actions" class="container login inline">   
      <h2><%= h(t("data_sources.hcvisit.fc_main.page_title")) %></h2>

      <table>
        <tbody>
          <tr>
            <td>
              <h3><%= h(t("data_sources.hcvisit.fc_main.show_subtitle")) %></h3>
              <div class="table">
                <div class="row">
                  <label><%= h(t("delivery_zone")) %></label>
                  <span class="cell output selected_delivery_zone_name"></span>
                </div>
                <div class="row">
                  <label><%= h(t("data_sources.hcvisit.visit_month")) %></label>
                  <span class="cell output selected_visit_date_period_name"></span>
                </div>
              </div>
              <button id="select_location" onclick="show_main_page('fc_home')"><%= h(t("data_sources.hcvisit.fc_main.show_button")) %></button>
            </td>

            <td id="fc-action-links">
              <dl>
                <dt><%= h(t("data_sources.hcvisit.fc_main.before.title")) %></dt>
                <dd><%= h(t("data_sources.hcvisit.fc_main.before.prepare_load")) %></dd>
                <dd><%= link_to_function(h(t("data_sources.hcvisit.fc_main.before.determine_pickups")), "show_warehouse('before')") %></dd>
                <dd id="after-warehouse_link">
                  <%= link_to(h(t("data_sources.hcvisit.fc_main.before.record_pickups")), "#") %>
                  <span id="after-warehouse-status"><%= h(t("done")) %></span>
                </dd>

                <dt><%= h(t("data_sources.hcvisit.fc_main.during.title")) %></dt>
                <dd><%= h(t("data_sources.hcvisit.fc_main.during.collect_at_district")) %></dd>
                <dd><%= h(t("data_sources.hcvisit.fc_main.during.collect_at_health_center")) %></dd>

                <dt><%= h(t("data_sources.hcvisit.fc_main.after.title")) %></dt>
                <dd><%= h(t("data_sources.hcvisit.fc_main.after.return")) %></dd>
                <dd><%= link_to_function(h(t("data_sources.hcvisit.fc_main.after.input")), "select_location()") %></dd>
                <!--dd><%= link_to_function(h(t("data_sources.hcvisit.fc_main.after.review")), "action_not_implemented()") %></dd-->
                <dd><%= link_to(h(t("data_sources.hcvisit.fc_main.after.review")), offline_reports_path(:locale => I18n.locale)) %></dd>
                <dd id="upload_link" class="online">
                  <%= link_to(h(t("data_sources.hcvisit.fc_main.after.upload")), "#login", :class => "inline") %>
                  <%= link_to("", "#upload", :class => "inline", :style => "display:none") %>
                </dd>
              </dl>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="manager-home" class="container login inline">
      <h2><%= h(t("data_sources.hcvisit.manager_main.page_title")) %></h2>
      <ul>
        <li><%= link_to_function(h(t("data_sources.hcvisit.manager_main.update")), "action_not_implemented()") %></li>
        <li><%= link_to_function(h(t("data_sources.hcvisit.manager_main.upload")), "action_not_implemented()") %></li>
        <li><%= link_to_function(h(t("data_sources.hcvisit.manager_main.backup")), "action_not_implemented()") %></li>
        <li><%= link_to_function(h(t("data_sources.hcvisit.manager_main.reset")), "action_not_implemented()") %></li>
      </ul>
    </div>

    <div id="admin-home" class="container login inline">
      <h2><%= h(t("data_sources.hcvisit.admin_main.page_title")) %></h2>
      <ul>
        <li><%= link_to_function(h(t("data_sources.hcvisit.admin_main.view_reports")), "action_not_implemented()") %></li>
        <li><%= link_to_function(h(t("data_sources.hcvisit.admin_main.upload")), "action_not_implemented()") %></li>
        <li><%= link_to_function(h(t("data_sources.hcvisit.admin_main.add_fc")), "action_not_implemented()") %></li>
      </ul>
    </div>

<% javascript_tag do %>
  $(function() {
    $("#after-warehouse_link").click(function(e) {
      if (!$(e.currentTarget).hasClass('complete')) {
        show_warehouse('after');
      }
    });
  });
<% end %>
