    <div id="was_hc_visited">
      <p class="radio_label">
        <%= (I18n.backend.send(:lookup, I18n.locale, "visits.health_center_monthly_visit.was_this_visited") || '').
          sub("{{name}}",%Q{<span class="selected_health_center_name"></span>}).
             sub("{{month}}",%Q{<span class="selected_visit_date_period_name"></span>}) %>
      </p>
      <ul id="visited" class="radio">
        <li>
          <input type="radio" value="true" name="health_center_visit-visited" id="health_center_visit-visited-true" />
          <label for="health_center_visit-visited-true"><%= h(t("visits.health_center_monthly_visit.yes_i_visited")) %></label>
        </li>
        <li>
          <input type="radio" value="false" name="health_center_visit-visited-" id="health_center_visit-visited-false" />
          <label for="health_center_visit-visited-false"><%= h(t("visits.health_center_monthly_visit.no_noone_visited")) %></label>
        </li>
      </ul>
      
      <%= javascript_tag "$('#visited input').change(update_visit_navigation)" %>
    </div>

    <div id="visited_data">
      <div class="datepicker">
        <label for="visited_at"><%= h(t("visits.health_center_monthly_visit.date")) %></label>
        <input required="required" data-required="type=visit_date" type="date" id="visited_at" name="visited_at" />
      </div>

      <div>
        <label for="vehicle_id"><%= h(t("visits.health_center_monthly_visit.vehicle_code")) %></label>
        <input id="vehicle_id" name="vehicle_id" type="text" />
      </div>
    </div>

    <div id="unvisited_data">
      <div id="non_visit_reason_selection" class="validation-group">
        <p class="radio_label">
          <%= h(t("visits.health_center_monthly_visit.reason_for_not_visiting")) %><span class="notice"></span>
        </p>
        <ul id="non_visit_reason" class="radio">
          <%- %w(road_problem vehicle_problem health_center_closed other).each do |reason| -%>
            <li>
              <input required="required" type="radio" value="<%= reason %>" name="health_center_visit-non_visit_reason" id="health_center_visit-non_visit_reason-<%= reason %>" />
              <label for="health_center_visit-non_visit_reason-<%= reason %>"><%= h(t("HealthCenterVisit.#{reason}")) %></label>
            </li>
          <%- end -%>
        </ul>
        <div id="other_non_visit_reason">
          <textarea id="health_center_visit-other_non_visit_reason" name="health_center_visit-other_non_visit_reason" required="required" data-required="related_checkbox=health_center_visit-non_visit_reason-other"></textarea>
        </div>
      </div>
    </div>
    
