    <div id="was_hc_visited">
      <label for="visited">
        <%= (I18n.backend.send(:lookup, I18n.locale, "visits.health_center_monthly_visit.was_this_visited") || '').
          sub("{{name}}",%Q{<span class="selected_health_center_name"></span>}).
             sub("{{month}}",%Q{<span class="selected_visit_date_period_name"></span>}) %>
      </label>
      <select required id="visited" name="visited">
        <option value="true"><%= h(t("visits.health_center_monthly_visit.yes_i_visited")) %>
        <option value="false"><%= h(t("visits.health_center_monthly_visit.no_noone_visited")) %>
      </select>
      
      <%= javascript_tag "$('#visited').change(update_visit_navigation)" %>
    </div>

    <div id="visited_data">
      <div class="datepicker">
        <label for="visited_at"><%= h(t("visits.health_center_monthly_visit.date")) %></label>
        <input required type="date" id="visited_at" name="visited_at" >
      </div>

      <div>
        <label for="vehicle_id"><%= h(t("visits.health_center_monthly_visit.vehicle_code")) %></label>
        <input id="vehicle_id" name="vehicle_id" type="text"></xf:input>
      </div>
    </div>

    <div id="unvisited_data">
      <div id="non_visit_reason_selection">
       <label for="non_visit_reason"><%= h(t("visits.health_center_monthly_visit.reason_for_not_visiting")) %></label>
        <select id="non_visit_reason" name="non_visit_reason">
          <%- %w(road_problem vehicle_problem health_center_closed other).each do |reason| -%>
            <option value="<%= h reason %>"><%= h(t("HealthCenterVisit.#{reason}")) %></option>
          <%- end -%>
        </select> 
      </div>

      <div>
        <textarea required id="other_non_visit_reason"></textarea>
      </div>
    </div>
    
