<h2><%= (I18n.backend.send(:lookup, I18n.locale, "pickups.inventory.page_title") || '').
                      sub("{{delivery_zone}}", %Q{<span class="output selected_delivery_zone_name"></span>}).
                      sub("{{visit_month}}", %Q{<span class="output selected_visit_date_period_name"></span>}) %></h2>

<h3><%= h(t("pickups.inventory.before_visit")) %></h3>

<div class="pickups">
  <div class="wrapper">
    <div class="header">
      <span><%= (I18n.backend.send(:lookup, I18n.locale, "pickups.inventory.province") || '').
                              sub("{{name}}", %Q{<span class="output selected_province_name"><span>}) %></span>
    </div>

    <table class="inventory">
      <thead>
        <tr>
          <th><%= h(t("pickups.inventory.package")) %></th>
          <th class="amount"><%= h(t("pickups.inventory.requested")) %></th>
        </tr>
      </thead>
      <tbody>
        <%- Package.active.sort.each do |package| -%>
          <tr class="inventory_row">
            <td><%= package.label %></td>
            <td class="amount"><input type="number" id="warehouse_pickup-before-<%= package.code %>-DeliveryRequest" readonly="readonly" /></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
