<h2><%= (I18n.backend.send(:lookup, I18n.locale, "pickups.inventory.page_title") || '').
                      sub("{{delivery_zone}}", %Q{<span class="output selected_delivery_zone_name"></span>}).
                      sub("{{visit_month}}", %Q{<span class="output selected_visit_date_period_name"></span>}) %></h2>

<h3><%= h(t("pickups.inventory.after_visit")) %></h3>

<div class="pickups">
  <div class="wrapper">
    <form id="warehouse_visit-form">
      <div class="header">
        <!--span><%= (I18n.backend.send(:lookup, I18n.locale, "pickups.inventory.province") || '').
                                sub("{{name}}", %Q{<span class="output selected_province_name"><span>}) %></span-->
        <div class="datepicker">
          <label for="warehouse_pickup_date"><%= h(t("headers.date")) %></label>
          <input type="date" id="warehouse_pickup_date" name="warehouse_pickup_date" required="required" data-required="type=visit_date" />
        </div>
      </div>

      <table class="inventory inventory-form">
        <thead>
          <tr>
            <th class="empty"></th>
            <th><%= h(t("pickups.inventory.package")) %></th>
            <th class="amount"><%= h(t("pickups.inventory.requested")) %></th>
            <th class="amount"><%= h(t("pickups.inventory.furnished")) %></th>
          </tr>
        </thead>
        <%- Package.active.sort.partition_by{|package| package.product.product_type}.each do |type, stocks| -%>
          <tbody>
            <%- stocks.sort.each_with_index do |package, idx| -%>
              <tr class="inventory_row">
                <%- if idx == 0 -%>
                  <td class="group_label"><%= h type.label %></td>
                <%- else -%>
                  <td></td>
                <%- end -%>
                <td><%= h package.label %></td>
                <%- %w(DeliveryRequest DeliveryPickup).each do |type|
                      options = type == 'DeliveryRequest' && !package.primary_package ? 'readonly="readonly"' : 'required="required"'
                      node = "warehouse_pickup-after-#{package.code}-#{type}" -%>
                  <td class="amount"><input type="number" min="0" id="<%= node %>" name="<%= node %>" <%= options %> /></td>
                <%- end -%>
              </tr>
            <%- end -%>
          </tbody>
        <%- end -%>
      </table>
      <button type="submit"><%= h(t("data_sources.hcvisit.warehouse_pickup.save_and_continue")) %></button>
    </form>
  </div>
</div>

<% javascript_tag do %>
  $(function() {
    $("#warehouse_visit-form").submit(function() {
      save_warehouse_visit();
      show_main_page();
      return false;
    });
  });
<% end %>
