<h2><%= (I18n.backend.send(:lookup, I18n.locale, "pickups.inventory.page_title") || '').
                      sub("{{delivery_zone}}", %Q{<span class="output selected_delivery_zone_name"></span>}).
                      sub("{{visit_month}}", %Q{<span class="output selected_visit_date_period_name"></span>}) %></h2>

<h3><%= h(t("pickups.inventory.after_visit")) %></h3>

<div class="pickups">
  <div class="wrapper">
    <form id="warehouse_visit-form" onsubmit="serialize_warehouse_visit(); return false;">
      <div class="header">
        <!--span><%= (I18n.backend.send(:lookup, I18n.locale, "pickups.inventory.province") || '').
                                sub("{{name}}", %Q{<span class="output selected_province_name"><span>}) %></span-->
        <div class="datepicker">
          <label><%= h(t("headers.date")) %></label>
          <input type="date" id="warehouse_pickup_date" name="warehouse_pickup_date" required="visit_date" />
        </div>
      </div>

      <table class="inventory inventory-form">
        <thead>
          <tr>
            <th><%= h(t("pickups.inventory.package")) %></th>
            <th class="amount"><%= h(t("pickups.inventory.requested")) %></th>
            <th class="amount"><%= h(t("pickups.inventory.furnished")) %></th>
          </tr>
        </thead>
        <tbody>
          <%- Package.active.sort.each do |package| -%>
            <tr class="inventory_row">
              <td><%= package.label %></td>
              <%- %w(DeliveryRequest DeliveryPickup).each do |type| -%>
                <td class="amount"><input type="number" id="warehouse_pickup-after-<%= package.code %>-<%= type %>" /></td>
              <%- end -%>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </form>
  </div>
</div>
