<group>
  <label><%= h(t("visits.health_center_monthly_tasks.inventory")) %></label>
  <input bind="inventory_intro">
    <label><%= h(t("data_sources.hcvisit.odk.inventory_intro.label")) %></label>
    <hint><%= h(t("data_sources.hcvisit.odk.inventory_intro.hint")) %></hint>
  </input>

  <%- Inventory.possible_fields.sort_by(&:second).each do |type, package, screen| -%>
    <%- id = "inventory_#{package.code}_#{type}" -%>
    <group>
      <input bind="<%= id %>:qty">
        <label><%= package.label %>, <%= h(t("visits.health_center_inventory.#{type}")) %></label>
        <hint><%= h(t("data_sources.hcvisit.odk.quantity_hint")) %></hint>
      </input>
    </group>
  <%- end -%>
</group>

