<group>
  <label><%= h(t("visits.health_center_monthly_tasks.stock_cards")) %></label>
  <input bind="stock_cards_intro">
    <label><%= h(t("data_sources.hcvisit.odk.stock_cards_intro.label")) %></label>
    <hint><%= h(t("data_sources.hcvisit.odk.stock_cards_intro.hint")) %></hint>
  </input>

  <%- StockCard.active.sort.each do |card|
        id = "stock_card_#{card.code}" -%>
    <group>
      <select1 bind="<%= id %>:have" appearance="full" class="radio">
        <label><%= card.label %>, <%= h(t("visits.health_center_stock_cards.have")) %></label>
        <%- [ [ h(t("yes")), "true" ], [ h(t("no")), "false" ] ].each do |label,value| -%>
          <item>
            <label><%= label %></label>
            <value><%= value %></value>
          </item>
        <%- end -%>
      </select1>
      <select1 bind="<%= id %>:use" appearance="full" class="radio">
        <label><%= card.label %>, <%= h(t("visits.health_center_stock_cards.use")) %></label>
        <%- [ [ h(t("yes")), "true" ], [ h(t("no")), "false" ] ].each do |label,value| -%>
          <item>
            <label><%= label %></label>
            <value><%= value %></value>
          </item>
        <%- end -%>
      </select1>
    </group>
  <%- end -%>
</group>

