<h3><%= t("health_centers.#{params[:action]}", :name => @health_center.name) %></h3>

<%- form_for @health_center do |f| -%>
  <%= f.error_messages %>

  <dl class="detail-page">
    <dt><%= f.label :name, t('health_centers.name') %></dt>
    <dd><%= f.text_field :name, :disabled => true %></dd>

    <dt><%= f.label :catchment_population, t('health_centers.catchment_population') %></dt>
    <dd><%= f.text_field :catchment_population %></dd>
    <dd class="disabled"><%= check_box_tag 'recalculate_population', 1, false, :disabled => true %> <%= t('health_centers.recalculate_population') %></dd>

    <dt class="section">Primary Contact</dt>
    <%- fields_for @health_center.street_address do |ff| -%>
      <%= render :partial => '/street_addresses/edit_fields', :locals => { :form => ff, :fields => %w(name phone) } %>
    <%- end -%>

    <dt class="section">Location</dt>
    <%- fields_for @health_center.street_address do |ff| -%>
      <%= render :partial => '/street_addresses/edit_fields', :locals => { :form => ff } %>
    <%- end -%>
  </dl>
  <%= f.submit %>
<%- end -%>

<%- javascript_tag do -%>
  $(function() {
    $("#health_center_catchment_population").change(function() {
      $("#recalculate_population").attr("disabled", false).parent().removeClass("disabled");
    });
  });
<%- end -%>
