<%- format ||= report_format_for_current_user_role
params.merge!(@params) if @params 
fridges_by_code = {}
param_scoped_fridges.not_ok.find(:all, :order => :reported_at).group_by{ |fridge| fridge.current_status.status_code }.each do |code,fridges| 
  fridges_by_code[code] = fridges.group_by{|fridge|
    [fridge.health_center.administrative_area.parent.name,fridge.health_center.delivery_zone.field_coordinator.name]
  }
end



-%>

<div class="fridge_list broken">
  <%- FridgeStatus.not_ok_status_options.each do |status, code| -%>
   <div>
    <%- fridges_by_fc = fridges_by_code[code] -%>
    <%- unless fridges_by_fc.blank? -%>
      <h4><%=status%></h4>
      <%- show_fc = (format != 'fc') %>
      <% fridges_by_fc.each do |province_fc, fridges| %>
        <% if show_fc -%>
          <h5>in <%= province_fc.first %> (<%=province_fc.last%>)</h5>
        <%- end -%>
        <table class="<%= code.downcase %>"> 
          <tbody>
            <%= render :partial=>'mini_reports/fridge_status_details', :collection => fridges, :as => :fridge, :locals => {:format => format } %>
          </tbody>
        </table>
      <%- end -%>
    <%- else -%>
      <h4><%= t(".no_fridges_with_status", :status=>status) %></h4>
    <%- end -%>
   </div>
  <%- end -%>
</div>
