<span id="delivery_zone_selector">
  <span id="delivery_zone_spinner" class="loading-indicator" style="display: none;"><%= t('loading') %><%= image_tag('indicator-small.gif', :size => '13x10') %></span>
  <% if params[:province_id].present? %>
    <%= select_tag :delivery_zone_id, options_for_select(
      [[t('select_delivery_zone.select'),'']] + 
        DeliveryZone.options_for_select_by_province(params),
          params[:delivery_zone_id]) %>
    <%= render :partial => "/shared/district_selector"      %>
    <% javascript_tag do %>
      jQuery('#delivery_zone_id').change(function() {
        jQuery('#district_spinner').show();
        jQuery.ajax({
          url: '<%= district_selector_url %>',
          type: 'GET',
          data: { delivery_zone_id: jQuery(this).val(), province_id: jQuery('#province_id').val() },
        success: function(data, textStatus, xhr) {
          jQuery('#district_selector').replaceWith(data);
        }
      });
    });
  <% end %>
</span>
