<dl id="offline_tasks">
  <dt><%= t(".select_task") %></dt>
  <dd>
    <ul>
      <li class="<%= 'current' if controller.controller_path == 'data_sources' %>">
        <%= link_to(t(".record_visits"), xform_format_url(:name => "hcvisit-nojr", :format => "html", :locale => I18n.locale)) %>
      </li>
      <li class="<%= 'current' if controller.controller_path == 'reports' %>">
        <%= link_to(t(".view_reports"), offline_report_index_url(:locale => I18n.locale)) %>
      </li>
    </ul>
  </dd>
</dl>
