  <%- form_for @user do |f| -%>
    <%= f.error_messages %>
    <fieldset id="user-details">
      <legend><%= t("users.legend.personal") %></legend>
      <ol>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, :size => 40, :maxlength => 255 %>
        </li>
        <li>
          <%= f.label :phone %>
          <%= f.text_field :phone, :size => 40, :maxlength => 255 %>
        </li>
        <li>
          <%= f.label :language %>
          <%= f.select :language, Locale.all.sort_by{|l| l.name.to_s.downcase}.map{|l| [ l.name || l.code, l.code ]}, :include_blank => t(:select_blank) %>
        </li>
        <li>
          <%= f.label :timezone %>
          <%= f.time_zone_select :timezone, nil, :include_blank => t(:select_blank) %>
        </li>
      </ol>
    </fieldset>
    <fieldset id="account-details">
      <legend><%= t("users.legend.account") %></legend>
      <ol>
        <li>
          <%= f.label :role_id, t('activerecord.attributes._all.role') %>
          <%= f.select :role_id, Role.all.sort.map { |r| [ r.label, r.id ] } %>
        </li>
        <li>
          <%= f.label :username %>
          <%= f.text_field :username, :size => 20, :maxlength => 255 %>
        </li>
        <li>
          <%= f.label :password, t("users.password") %>
          <%= f.password_field :password, :size => 20 %>
        </li>
        <li>
          <%= f.label :password_confirmation, t("users.confirm_password") %>
          <%= f.password_field :password_confirmation, :size => 20 %>
        </li>
      </ol>
    </fieldset>
    <p class="form-buttons">
      <%= f.submit t("update") %>
    </p>
  <% end%>
