<div id="user-profile-form">
  <h2><%= t(".profile_for", :name => @user.username) %></h2>

  <%- form_for @user, :url => profile_user_path do |f| -%>
    <%= f.error_messages %>
    <fieldset id="user-details">
      <legend><%= t("users.legend.personal") %></legend>
      <ol>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, :size => 40, :maxlength => 255 %>
        </li>
        <li>
          <%= f.label :phone %>
          <%= f.text_field :phone, :size => 40, :maxlength => 255 %>
        </li>
        <li>
          <%= f.label :language %>
          <%= f.select :language, I18n.available_locales.map{|l| [ Languages.native_languages[l] || l, l ]}, :include_blank => t(:select_blank) %>
        </li>
        <li>
          <%= f.label :timezone %>
          <%= f.time_zone_select :timezone, nil, :include_blank => t(:select_blank) %>
        </li>
      </ol>
    </fieldset>

    <fieldset id="account-details">
      <legend><%= t("users.legend.account") %></legend>
      <ol>
        <li>
          <%= f.label :username %>
          <% if @current_user.admin? && !@user.primary_admin? %>
            <%= f.text_field :username, :size => 20, :maxlength => 255 %>
          <% else %>
            <p class="readonly form-field"><%= h @current_user.username %></p>
          <% end %>
        </li>
        <% if @current_user.admin? && !@user.primary_admin? %>
          <li>
            <%= f.label :role_id, t('activerecord.attributes._all.role') %>
            <%= f.select :role_id, Role.all.sort.map { |r| [ r.label, r.id ] } %>
          </li>
        <% end %>
        <li>
          <%= f.label :password, t("users.change_password") %>
          <%= f.password_field :password, :size => 20 %>
        </li>
        <li>
          <%= f.label :password_confirmation, t("users.confirm_password") %>
          <%= f.password_field :password_confirmation, :size => 20 %>
        </li>
      </ol>
    </fieldset>

    <% unless @user.admin? %>

      <fieldset id="administrative_area-fieldset" class="checkbox-group">
        <legend><%= t("users.legend.administrative_area") %></legend>
        <div>
          <% @current_user.administrative_areas.sort.in_groups_of(3).each do |aas| %>
            <% aas.compact.each do |aa| %>
              <span><%= h aa.label %></span>
            <% end %>
            <br clear="left" />
          <% end %>
        </div>
      </fieldset>

      <fieldset id="zone-details-fieldset" class="checkbox-group">
        <legend><%= t("users.legend.delivery_zone") %></legend>
        <div>
          <% @current_user.delivery_zones.sort.in_groups_of(3).each do |dzs| %>
            <% dzs.compact.each do |dz| %>
              <span><%= h dz.label %></span>
            <% end %>
            <br clear="left" />
          <% end %>
        </div>
      </fieldset>

      <fieldset id="health_center-fieldset" class="checkbox-group">
        <legend><%= t("users.legend.health_center") %></legend>
        <div>
          <% @current_user.health_centers.sort.in_groups_of(3).each do |hcs| %>
            <% hcs.compact.each do |hc| %>
              <span><%= h hc.label %></span>
            <% end %>
            <br clear="left" />
          <% end %>
        </div>
      </fieldset>

    <% end %>
    
    <p class="form-buttons">
      <%= f.submit t("users.edit.button") %>
    </p>

  <%- end -%>

</div>
