<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= h(t("health_center_visit")) %></title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/ui/ui.core.js" ></script>
    <script type="text/javascript" src="/javascripts/ui/ui.datepicker.js" ></script>
    <script type="text/javascript" src="/javascripts/ui/i18n/jquery-ui-i18n.js" ></script>

    <script type="text/javascript" src="/javascripts/jquery.tmpl.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery.datalink.js" ></script>
    
    <script type="text/javascript" src="/javascripts/olmis_datalink.js" ></script>
    
    <script type="text/javascript" src="/javascripts/offline_i18n.js" ></script>
    <script type="text/javascript" src="/javascripts/offline_autoeval_data.js" ></script>

    <script type="text/javascript" src="/javascripts/olmis_date.js" ></script>
    <script type="text/javascript" src="/javascripts/olmis_common.js" ></script>
    <script type="text/javascript" src="/javascripts/olmis_offline.js" ></script>
    <script type="text/javascript" src="/javascripts/olmis_formgrid.js" ></script>
    
    <script type="text/javascript" src="/fancybox/jquery.fancybox.js" ></script>
    <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/ui/jquery-ui-1.7.2.custom.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/theme.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/hcvisit.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/hcvisit_custom.css" type="text/css" />
    <script type="text/html" id="selector_tmpl">
      <option />
      {{each(i,dz) data}}
        <option value="${ dz.code }">${ dz.name }</option>
      {{/each}}
    </script>
  </head>
  <body>
    <h1><a href="/">Village Reach Prototype olmis</a></h1>

    <div id="login-form" class="container login inline">
      <h2><%= h(t("login.login.login_to", :name => "VR MIS3")) %></h2>
      <form onsubmit="login(); return false;">
        <div>
          <label for="access_code"><%= h(t(".login.access_code")) %></label>
          <input type="password" id="access_code" ref="selected_values.access_code">
          <input type="submit" value="<%= h(t("login.login.submit_button")) %>">
        </div>
      </form>
    </div>

    <div id="user_tools">
      <div id="language" class="content">
        <em><%= h(t("layouts.locale.select_language")) %></em>
        <%- I18n.available_locales.each do |locale| -%>
          <%- if I18n.locale.to_s == locale.to_s -%>
            <strong><%= h Languages.native_languages[locale] %></strong>
          <%- else -%>
            <%= link_to(h(Languages.native_languages[locale]), url_for({ :overwrite_params => { :locale => locale } })) %>
          <%- end -%>
        <%- end -%>
      </div>
      <div id="user" class="content">
        <a href="#" onclick="logout()" ><%= h(t("logout")) %></a>
        <div id="recording-data-for" class="content">
          <em><%= h(t(".selected_fc")) %></em>
          <strong><span id="field-coordinator"></span></strong>

          <a href="#" onclick="show_main_page()" ><%= h(t(".go_to_main_page")) %></a>
        </div>
      </div>
    </div>

    <div id="context-selector" class="container login inline">   
      <h2><%= h(t(".main.page_title")) %></h2>

      <table>
        <tbody>
          <tr>
            <td id="enter-data">
              <h3><%= h(t(".main.enter_data")) %></h3>
              <div>
                <label for='dz_selector'><%= h(t("delivery_zone")) %></label>
                <select id="dz_selector"></select>
                
                <label for='fc_selector'><%= h(t("field_coordinator")) %></label>
                <select id="fc_selector"></select>

                <!-- <xf:alert><%= h(t(".errors.select_fc")) %></xf:alert> -->

                <label for='vdp_selector'><%= h(t(".visit_month")) %></label>
                <select id="vdp_selector"></select>
                
                <!-- <xf:alert><%= h(t(".errors.select_visit_month")) %></xf:alert> -->

               <button id="select_location" onclick="select_location()"><%= h(t("go")) %></button>
              </div>
            </td><!-- id="enter-data" -->

            <td id="other-actions">
              <h3><%= h(t(".main.other_actions")) %></h3>
              <ul>
                <li><a href="#todo"><%= h(t(".main.view_pickups")) %></a></li>
                <li><a href="#todo"><%= h(t(".main.view_reports")) %></a></li>
                <li id="upload_link" class="online"><a class="inline" href="#login"><%= h(t(".status.login_and_upload")) %></a><a class="inline" style="display: none" href="#upload"></a></li>
              </ul>
            </td><!-- id="other-actions" -->
          </tr>
        </tbody>
      </table>
    </div><!-- id="context-selector" -->

    <div id="location-selector" class="container">
      <h3>
        <!-- HACK: Evil, ugly hack to get at the raw translation. -->
        <%= (I18n.backend.send(:lookup, I18n.locale, "data_sources.hcvisit.hc.page_title") || '').
          sub("{{delivery_zone}}",%Q{<span class="output selected_delivery_zone"></span>}).
          sub("{{visit_month}}",%Q{<span class="output selected_date_period"></span>}) %>
      </h3>

      <div id="warehouse-actions">
        <ul>
          <li>
            <%= link_to_function(h(t(".hc.before_warehouse_visit")), "show_warehouse('before')") %>
          </li>
          <li>
            <%= link_to_function(h(t(".hc.after_warehouse_visit")), "show_warehouse('after')") %>
          </li>
        </ul>
      </div>

      <div>
        <h4><%= h(t(".hc.choose")) %></h4>
        <div id="year-month-selector" class="inline">
          <xf:group>
            <xf:select1 id="health-center-selector" ref="instance('data')/selected-values/health_center">
              <xf:itemset nodeset="instance('data')/province/district/health_center">
                <xf:label ref="@name"/>
                <xf:value ref="@code"/>
              </xf:itemset>
            </xf:select1>
            <xf:action ev:event="xforms-value-changed">
              <xf:load resource="javascript:setup_visits()" />
              <xf:send ev:event="xforms-submit" submission="load" if="instance('data')/selected-values/context-selected = true() and instance('data')/selected-values/selected-month-exists = true()" />
              <xf:send ev:event="xforms-submit" submission="new"  if="instance('data')/selected-values/context-selected = true() and instance('data')/selected-values/selected-month-exists = false()" />
            </xf:action>
          </xf:group>
        </div>

        <div id="saved-forms">
          <form>
            <div id="saved-forms-search">
              <label><%= h(t("search_button")) %></label>
              <input type="text" id="saved-forms-filter" />
              <button id="saved-forms-search-reset" onclick="javascript:reset_saved_forms_search(); return false;"><%= h(t("reset_button")) %></button>
            </div>
            <select size="10" id="saved-forms-control" />
          </form>
        </div>
      </div>
    </div><!-- id="location-selector" -->

    <%- %w(before after).each do |screen| -%>
      <div id="warehouse-<%= screen %>" class="container">
        <%= render :partial => "/data_sources/xforms/warehouse_pickup_#{screen}.xforms" %>
      </div>
    <%- end -%>

<% if false %>
    
    <div id="form" class="container">
      <h3 id="current_hc">
        <xf:output value="instance('data')/province/district/health_center[@code=instance('data')/selected-values/health_center]/@name"/>, <xf:output value="olmis:month_of_year(instance('data')/selected-values/visit_date_period)" />
        <xf:trigger appearance="minimal">
          <xf:label><%= h(t(".go_to_hc_selection")) %></xf:label>
          <xf:action ev:event="DOMActivate">
            <xf:load resource="javascript:show_visits()" />
          </xf:action>
        </xf:trigger>
      </h3>

      <xf:group bind="context-selected">
        <div id="tab-menu">
          <xf:group id="tab-menu-inner">
            <% (['visit'] + HealthCenterVisit.screens).each do |screen| %>
              <xf:trigger 
                <%- if HealthCenterVisit.klass_by_screen[screen].depends_on_visit? %>bind="visited_at"<% end -%> 
                id="tab-<%= screen %>" class="menu-tab selected-tab" appearance="minimal">
                <xf:label><%= h(t("visits.health_center_monthly_tasks.#{ screen }")) %></xf:label>              
                <xf:action ev:event="DOMActivate">
                  <xf:toggle case="case-<%= screen %>"/>
                  <xf:load resource="javascript:set_active_tab('<%= screen %>')" />
                </xf:action>
              </xf:trigger>
            <% end %>
          </xf:group><!-- ref="instance('olmis')/hcvisit" -->
        </div><!-- id="tab-menu" -->

        <xf:group id="form-contents" ref="instance('olmis')/health_center_visit">
          <xf:action ev:event="xforms-value-changed">
            <xf:send ev:event="xforms-submit" submission="save" if="instance('data')/selected-values/context-selected = true()" />
          </xf:action>
          <xf:action ev:event="DOMFocusOut">
            <xf:send ev:event="xforms-submit" submission="save" if="instance('data')/selected-values/context-selected = true()" />
          </xf:action>
          <xf:switch>
            <% (['visit'] + HealthCenterVisit.screens).each do |screen|
                 layout = "/data_sources/xforms/screen.xforms"
                 begin %>
               <%= render(:partial => "/data_sources/xforms/#{screen}_screen.xforms", :layout => layout, :locals => { :screen => screen }) %><%
                 rescue ActionView::MissingTemplate
                   klass = HealthCenterVisit.klass_by_screen[screen]
                   begin %>
                 <%= render(:partial => "/data_sources/xforms/#{klass.xforms_group_name}_screen.xforms", :layout => layout, :locals => { :klass => klass, :screen => screen } ) %><%
                   rescue ActionView::MissingTemplate
                     raise "Can't find _#{klass.xforms_group_name}_screen.xforms.erb"
                   end
                 end
               end %>
          </xf:switch>
        </xf:group><!-- id="form-contents" -->
      </xf:group><!-- bind="context-selected" -->
    </div>
    <div id="status_footer">
      <xf:group bind="login-active">
        <div id="online_indicator">
          <div class="online"><%= h(t(".status.online")) %></div>
          <div class="offline"><%= h(t(".status.offline")) %></div>
        </div>
      </xf:group>
      <xf:group>
        <div id="status_indicator">
          <div>
            <a href="<%= request.url %>"><%= h(t(".status.updated")) %></a>
          </div>
        </div>
        <div id="download_indicator">
          <div>
            <p><%= h(t(".status.downloading")) %> ... <span id="download-pct"></span></p>
            <em id="download-progress-bar" style="width: 0"></em>
          </div>
        </div>
      </xf:group>
    </div>
    <div id="lightbox-data" style="display: none">
      <div id="login" class="lightbox-container">
        <h3><%= h(t(".login_to_server")) %></h3>
        <form action="javascript:ajax_login()">
          <label for="login-login"><%= h(t("username")) %></label><input type="text" id="login-login" /><br />
          <label for="login-password"><%= h(t("password")) %></label><input type="password" id="login-password" /><br />
          <input id="login-button" type="submit" value="<%= h(t('login.login.submit_button')) %>" />
        </form>
      </div>
      <div id="upload" class="lightbox-container">
        <h3><%= h(t(".upload.ready")) %></h3>
        <div id="upload-ready">
          <p id="upload-empty" style="display:none"><%= h(t(".upload_empty")) %></p>
          <ul></ul>
          <p id="upload-button" style="display:none"><input type="button" onclick="upload_all()" value="<%= h(t('.upload_all')) %>" /></p>
        </div>
        
        <h3><%= h(t(".upload.uploaded")) %></h3>
        <div id="upload-uploaded"><ul></ul></div>
      </div>
    </div>
<% end %>
  </body>
</html>
