<?xml version="1.0" encoding="UTF-8"?>
<%-
  locale = I18n.locale

  if params[:dz] and delivery_zone = DeliveryZone.find_by_code(params[:dz])
    districts = delivery_zone.health_centers.group_by(&:district).keys.sort
    health_centers = districts.map(&:health_centers).flatten
  else
    delivery_zones = DeliveryZone.all
    districts = District.all
    health_centers = HealthCenter.all
  end

  def health_center_code(hc)
    "#{hc.code}-#{hc.id}"  # code+ID prevents duplicate HC names from causing grief
  end
-%>
<h:html xmlns="http://www.w3.org/2002/xforms"
        xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns:ev="http://www.w3.org/2001/xml-events"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:jr="http://openrosa.org/javarosa"
        lang="<%= locale %>">
  <h:head>
    <h:title><%= h(t("health_center_visit")) %></h:title>
    <model>
      <instance>
        <olmis>
          <meta>
            <date/>
            <field_coordinator>
              <name/>
              <phone/>
            </field_coordinator>
          </meta>
          <hcvisit>
            <health_center/>
            <visited>true</visited>
            <visited_at/>
            <vehicle_id/>
            <notes/>
            <visit>
            <% HealthCenterVisit.screens.each do |screen|
                 begin %><%=
                   render(:partial => "/data_sources/odk/#{screen}_data.odk", :locals => { :screen => screen }) %><% 
                 rescue ActionView::MissingTemplate           
                 end 
               end %> 
            </visit>
          </hcvisit>
          <!-- Hackaround for lack of itemset support -->
          <location>
            <%- if delivery_zone -%>
              <delivery_zone><%= delivery_zone.code %></delivery_zone>
              <district/>
            <%- else -%>
              <delivery_zone/>
              <district>
                <%- delivery_zones.each do |dz| -%>
                  <dz-<%= dz.code %> />
                <%- end -%>
              </district>
            <%- end -%>
            <health_center>
              <%- districts.each do |d| -%>
                <d-<%= d.code %> />
              <%- end -%>
            </health_center>
            <fridges>
              <%- health_centers.each do |hc|
                    next if hc.fridges.empty?
                    hc_code = health_center_code(hc) -%>
                <hc-<%= hc_code -%>>
                  <%- hc.fridges.each do |fridge| -%>
                    <f-<%= fridge.id %> code="<%= h fridge.code %>">
                      <temp/><past_problem/><state/><problem/><other_problem/>
                    </f-<%= fridge.id %>>
                  <%- end -%>
                </hc-<%= hc_code -%>>
              <%- end -%>
            </fridges>
          </location>
        </olmis>
      </instance>

      <bind nodeset="/olmis/meta/date" type="date" jr:preload="date" jr:preloadParams="today" readonly="true()" />
      <bind nodeset="/olmis/meta/field_coordinator/phone" id="field_coordinator-phone" jr:preload="property" jr:preloadParams="phonenumber" />
      <bind nodeset="/olmis/meta/field_coordinator/name" id="field_coordinator-name" required="true()" /><!--relevant="../phone = ''" /-->
      <!-- HACK: Set during post-processing due to lack of dynamic selection support (see below) -->
      <!--bind nodeset="/olmis/hcvisit/health_center" id="health_center" required="true()" /-->

      <bind nodeset="/olmis/hcvisit/visited_at" id="visited_at" required="true()" relevant="../visited != 'false'" type="date" constraint="date(.) &lt;= today()" jr:preload="date" jr:preloadParams="today" jr:constraintMsg="<%= h(t('activerecord.errors.models.health_center_visit.attributes.visited_at.no_future_date')) %>" />
      <bind nodeset="/olmis/hcvisit/vehicle_id" id="vehicle_id" relevant="../visited != 'false'" />
      <bind nodeset="/olmis/hcvisit/notes" id="notes" />

      <bind nodeset="/olmis/hcvisit/visit" id="visit_data" relevant="../visited != 'false'" />

      <% HealthCenterVisit.screens.each do |screen|
           begin %><%= 
             render(:partial => "/data_sources/odk/#{screen}_bind.odk", :locals => { :screen => screen }) %><% 
           rescue ActionView::MissingTemplate           
           end 
         end %> 

      <!-- HACK: JavaRosa doesn't yet support itemsets, so the following is necessary for cascading location selection -->
      <%- if delivery_zone -%>
        <bind nodeset="/olmis/location/district" id="district" required="true()" />
        <%- districts.each do |d| -%>
          <bind id="d-<%= d.code -%>" nodeset="/olmis/location/health_center/d-<%= d.code %>" required="true()" relevant="../../district = '<%= d.code %>'" />
          <%- d.health_centers.each do |hc|
                next if hc.fridges.empty?
                hc_code = health_center_code(hc) -%>
            <bind id="hc-<%= hc_code %>" nodeset="/olmis/location/fridges/hc-<%= hc_code %>" required="true()" relevant="../../district = '<%= d.code %>' and ../../health_center/d-<%= d.code %> = '<%= hc_code %>'" />
            <%- hc.fridges.each do |fridge|
                  id = "f-#{fridge.id}"
                  node = "/olmis/location/fridges/hc-#{hc_code}/#{id}" -%>
              <bind id="<%= id %>:temp" nodeset="<%= node %>/temp" required="true()" type="integer" />
              <bind id="<%= id %>:past_problem" nodeset="<%= node %>/past_problem" required="true()" />
              <bind id="<%= id %>:state" nodeset="<%= node %>/state" required="true()" />
              <bind id="<%= id %>:problem" nodeset="<%= node %>/problem" required="true()" relevant="../state = 'problem'" />
              <bind id="<%= id %>:other_problem" nodeset="<%= node %>/other_problem" required="true()" relevant="regex(../problem, '\bOTHER\b')" />
            <%- end -%>
          <%- end -%>
        <%- end -%>
      <%- else -%>
        <%- delivery_zones.each do |dz| -%>
          <bind id="dz-<%= dz.code %>" nodeset="/olmis/location/district/dz-<%= dz.code %>" required="true()" relevant="../../delivery_zone = '<%= dz.code %>'" />
          <%- dz.health_centers.group_by(&:district).keys.sort.each do |d| -%>
            <bind id="d-<%= d.code %>" nodeset="/olmis/location/health_center/d-<%= d.code %>" required="true()" relevant="../../delivery_zone = <%= dz.code %>' and ../../district/dz-<%= dz.code %> = '<%= d.code %>'" />
            <%- d.health_centers.each do |hc|
                  next if hc.fridges.empty?
                  hc_code = health_center_code(hc) -%>
              <bind id="hc-<%= hc_code %>" nodeset="/olmis/location/fridges/hc-<%= hc_code %>" required="true()" relevant="../../district = '<%= d.code %>' and ../../health_center/d-<%= d.code %> = '<%= hc_code %>'" />
              <%- hc.fridges.each do |fridge|
                    id = "f-#{fridge.id}"
                    node = "/olmis/location/fridges/hc-#{hc_code}/#{id}" -%>
                <bind id="<%= id %>:temp" nodeset="<%= node %>/temp" required="true()" />
                <bind id="<%= id %>:past_problem" nodeset="<%= node %>/past_problem" required="true()" />
                <bind id="<%= id %>:state" nodeset="<%= node %>/state" required="true()" />
                <bind id="<%= id %>:problem" nodeset="<%= node %>/problem" required="true()" relevant="../state = 'false'" />
                <bind id=<%= id %>:other_problem" nodeset="<%= node %>/other_problem" required="true()" relevant="regex(../problem, '\bOTHER\b')" />
              <%- end -%>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </model>
  </h:head>
  <h:body>
    <group>
      <select1 bind="field_coordinator-name">
        <label><%= h(t("field_coordinator")) %></label>
        <%- User.field_coordinators.reject{|fc| fc.delivery_zone.nil?}.sort.each do |fc| -%>
          <item>
            <label><%= h fc.name %></label>
            <value><%= h fc.name %></value>
          </item>
        <%- end -%>
      </select1>
    </group>
    <%- if delivery_zone -%>
      <group>
        <select1 bind="district">
          <label><%= h(t("district")) %></label>
          <%- districts.each do |d| -%>
            <item>
              <label><%= h d.name %></label>
              <value><%= h d.code %></value>
            </item>
          <%- end -%>
        </select1>
      </group>
    <%- else -%>
      <!-- HACK: Cascading delivery zone -> district -> health center selection -->
      <group>
        <select1 bind="delivery_zone">
          <label><%= h(t("delivery_zone")) %></label>
          <%- delivery_zones.each do |dz| -%>
            <item>
              <label><%= h dz.name %></label>
              <value><%= h dz.code %></value>
            </item>
          <%- end -%>
        </select1>
      </group>
      <group>
        <%- delivery_zones.each do |dz| -%>
          <select1 bind="dz-<%= dz.code %>">
            <label><%= h(t("district")) %></label>
            <%- dz.health_centers.group_by(&:district).keys.sort.each do |d| -%>
              <item>
                <label><%= h d.name %></label>
                <value><%= h d.code %></value>
              </item>
            <%- end -%>
          </select1>
        <%- end -%>
      </group>
    <%- end -%>
    <group>
      <%- districts.each do |d| -%>
        <select1 bind="d-<%= d.code %>">
          <label><%= h(t("health_center")) %></label>
          <%- d.health_centers.sort.each do |hc| -%>
            <item>
              <label><%= h hc.name %></label>
              <value><%= h health_center_code(hc) %></value>
            </item>
          <%- end -%>
        </select1>
      <%- end -%>
    </group>
    <group>
      <input bind="visited_at">
        <label><%= h(t("visits.health_center_monthly_visit.date")) %></label>
      </input>
    </group>
    <group>
      <input bind="vehicle_id">
        <label><%= h(t("visits.health_center_monthly_visit.vehicle_code")) %></label>
      </input>
    </group>
    <group>
      <input bind="notes">
        <label><%= h(t("visits.health_center_monthly_visit.notes")) %></label>
      </input>
    </group>
    <group bind="visit_data">    
      <% HealthCenterVisit.screens.each do |screen|
           begin %><%= 
             render(:partial => "/data_sources/odk/#{screen}_group.odk",
                    :locals => { :screen => screen, :health_centers => health_centers }) %><% 
           rescue ActionView::MissingTemplate           
           end 
         end %> 
    </group>
  </h:body>
</h:html>
