<?xml version="1.0" encoding="UTF-8"?>
<%-
  locale = I18n.locale

  provinces = Province.all.sort
  districts = District.all
  health_centers = HealthCenter.all

  def health_center_code(hc)
    "#{hc.code}-#{hc.id}"  # code+ID prevents duplicate HC names from causing grief
  end
-%>
<h:html xmlns="http://www.w3.org/2002/xforms"
        xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns:ev="http://www.w3.org/2001/xml-events"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:jr="http://openrosa.org/javarosa"
        lang="<%= locale %>">
  <h:head>
    <h:title><%= t("health_center_visit") %></h:title>
    <model>
      <instance>
        <vrmis3>
          <meta>
            <date/>
            <field_coordinator>
              <name/>
              <phone/>
            </field_coordinator>
          </meta>
          <hcvisit>
            <health_center/>
            <visited>true</visited>
            <visited_at/>
            <vehicle_id/>
            <notes/>
            <visit>
            <% HealthCenterVisit.tables.each do |t| 
                 begin %><%=
                   render(:partial => 'odk/' + t.table_name.singularize + '_data.odk') %><% 
                 rescue ActionView::MissingTemplate           
                 end 
               end %> 
            </visit>
          </hcvisit>
        </vrmis3>
      </instance>

      <bind nodeset="/vrmis3/meta/date" type="date" jr:preload="date" jr:preloadParams="today" readonly="true()" />
      <bind nodeset="/vrmis3/meta/field_coordinator/phone"       id="field_coordinator-phone" jr:preload="property" jr:preloadParams="phonenumber" />
      <bind nodeset="/vrmis3/meta/field_coordinator/name"        id="field_coordinator-name"     required="true()" /><!--relevant="../phone = ''" /-->
      <!-- HACK: Set during post-processing due to lack of dynamic selection support (see below) -->
      <!--bind nodeset="/vrmis3/hcvisit/health_center"              id="health_center"              required="true()" /-->

      <bind nodeset="/vrmis3/hcvisit/visited_at"       id="visited_at"      required="true()" relevant="../visited != 'false'" type="date" constraint="date(.) &lt;= today()" jr:preload="date" jr:preloadParams="today" jr:constraintMsg="<%= t('activerecord.errors.models.health_center_visit.visited_at.no_future_date') %>" />
      <bind nodeset="/vrmis3/hcvisit/vehicle_id"       id="vehicle_id"       required="true()" relevant="../visited != 'false'" />
      <bind nodeset="/vrmis3/hcvisit/notes"            id="notes" />

      <bind nodeset="/vrmis3/hcvisit/visit" id="visit_data" relevant="../visited != 'false'" />

      <% HealthCenterVisit.tables.each do |t| 
           begin %><%= 
             render(:partial => 'odk/' + t.table_name.singularize + '_bind.odk') %><% 
           rescue ActionView::MissingTemplate           
           end 
         end %> 
    </model>
  </h:head>
  <h:body>
    <group>
      <select1 bind="field_coordinator-name">
        <label><%= t("field_coordinator") %></label>
        <%- User.field_coordinators.reject{|fc| fc.delivery_zone.nil?}.sort.each do |fc| -%>
          <item>
            <label><%= h fc.name %></label>
            <value><%= h fc.name %></value>
          </item>
        <%- end -%>
      </select1>
    </group>
    <!-- HACK: Cascading province -> delivery zone -> district -> health center selection -->
    <group>
      <select1 bind="province">
        <label><%= t("province") %></label>
        <%- provinces.each do |p| -%>
          <item>
            <label><%= h p.name %></label>
            <value><%= h p.code %></value>
          </item>
        <%- end -%>
      </select1>
    </group>
    <group>
      <%- provinces.each do |p|
            p_code = p.code  -%>
        <select1 bind="p-<%= p_code %>">
          <label><%= t("delivery_zone") %></label>
          <%- p.districts.sort.each do |dz| -%>
            <item>
              <label><%= h dz.name %></label>
              <value><%= h dz.code %></value>
            </item>
          <%- end -%>
        </select1>
      <%- end -%>
    </group>      
    <group>
      <%- districts.each do |d|
            d_code = d.code -%>
        <select1 bind="d-<%= d_code %>">
          <label><%= t("health_center") %></label>
          <%- d.health_centers.sort.each do |hc| -%>
            <item>
              <label><%= h hc.name %></label>
              <value><%= h health_center_code(hc) %></value>
            </item>
          <%- end -%>
        </select1>
      <%- end -%>
    </group>
    <group>
      <input bind="visited_at">
        <label><%= t("visits.health_center_monthly_visit.date") %></label>
      </input>
    </group>
    <group>
      <input bind="vehicle_id">
        <label><%= t("visits.health_center_monthly_visit.vehicle_code") %></label>
      </input>
    </group>
    <group>
      <input bind="notes">
        <label><%= t("visits.health_center_monthly_visit.notes") %></label>
      </input>
    </group>
    <group bind="visit_data">    
      <% HealthCenterVisit.tables.each do |t| 
           begin %><%= 
             render(:partial => 'odk/' + t.table_name.singularize + '_group.odk') %><% 
           rescue ActionView::MissingTemplate           
           end 
         end %> 
    </group>
  </h:body>
</h:html>
