<?xml version="1.0" encoding="UTF-8"?>
<?xsltforms-options debug="no"?>
<?css-conversion no?>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:xf="http://www.w3.org/2002/xforms"
        xmlns:ev="http://www.w3.org/2001/xml-events"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:jr="http://openrosa.org/javarosa"
        xmlns:ajx="http://www.ajaxforms.net/2006/ajx" 
        xmlns:olmis="http://openlmis.org/xpath-functions"
        lang="<%= I18n.locale %>"
        manifest="<%= manifest_url(:locale => I18n.locale) %>">
  <head>
    <title><%= h(t("health_center_visit")) %></title>
    <script type="text/javascript" src="/javascripts/jquery.min.js" />
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="/javascripts/ui/ui.core.js" />
    <script type="text/javascript" src="/javascripts/ui/ui.datepicker.js" />
    <script type="text/javascript" src="/javascripts/ui/i18n/jquery-ui-i18n.js" />
    
    <script type="text/javascript" src="/javascripts/offline_i18n.js" />
    <script type="text/javascript" src="/javascripts/offline_autoeval_data.js" />

    <script type="text/javascript" src="/javascripts/olmis_date.js" />
    <script type="text/javascript" src="/javascripts/olmis_common.js" />
    <script type="text/javascript" src="/javascripts/olmis_offline.js" />
    <script type="text/javascript" src="/javascripts/olmis_formgrid.js" />
    
    <script type="text/javascript" src="/fancybox/jquery.fancybox.js" />
    <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/ui/jquery-ui-1.7.2.custom.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/theme.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/hcvisit.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/hcvisit_custom.css" type="text/css" />
    <xf:model id="default-model">
      <xf:instance id="olmis" src="/xforms/olmis.xml" />
      <xf:instance id="data"  src="/xforms/data.xml"  />

      <% begin %>
        <%= render :partial => '/data_sources/xforms/model.xforms.erb' %>
      <% rescue ActionView::MissingTemplate %>
      <% end %>
      
      <xf:bind id="selector"
        nodeset="instance('data')/selected-values/selector"
        relevant="instance('data')/selected-values/context-selected = true()"
        constraint="jr:regex(., '^local://[^/]+/\d{4}-\d{2}$')"
        calculate="concat('local://', instance('data')/selected-values/visit_date_period, '/', instance('data')/selected-values/health_center)"
        />

      <xf:bind id="remote-selector"
        nodeset="instance('data')/selected-values/remote-selector"
        relevant="instance('data')/selected-values/context-selected = true() and olmis:currently_online()"
        calculate="concat('<%= visits_url %>', '/', instance('data')/selected-values/selector, '.', 'xml')"
        />

      <xf:bind id="login-selector"
        nodeset="instance('data')/selected-values/login-selector"
        calculate="concat(instance('data')/selected-values/field_coordinator, ':', instance('data')/selected-values/delivery_zone)"/>

      <xf:bind id="login-selected"
        type="xsd:boolean"
        relevant=". = true()"
        nodeset="instance('data')/selected-values/login-selected"
        calculate="instance('data')/selected-values/field_coordinator != '' and instance('data')/selected-values/delivery_zone != ''"
        />

      <xf:bind id="login-active"
        type="xsd:boolean"
        relevant=". = true()"
        nodeset="instance('data')/selected-values/logged_in"
        calculate="instance('data')/selected-values/logged_in = true()"
        />

      <xf:bind id="context-selected"
        type="xsd:boolean"
        relevant=". = true()"
        nodeset="instance('data')/selected-values/context-selected"
        calculate="instance('data')/selected-values/health_center != '' and instance('data')/selected-values/visit_date_period != ''"
        />

      <xf:bind id="visit-period-selected"
        type="xsd:boolean"
        relevant=". = true()"
        nodeset="instance('data')/selected-values/visit_period_selected"
        calculate="instance('data')/selected-values/visit_period_selected = true()"
        />

      <xf:bind id="selected-month-exists"
        nodeset="instance('data')/selected-values/selected-month-exists"
        relevant=". = true()"
        calculate="exists(instance('data')/selected-values/selector)" />

      <xf:submission id="load"
        replace="instance"
        instance="olmis"
        ref="/olmis"
        method="get"
        validate="false"
        includenamespaceprefixes="">
        <xf:resource value="instance('data')/selected-values/selector" />
        <xf:action ev:event="xforms-submit-done">
          <xf:setvalue bind="health_center"     value="instance('data')/selected-values/health_center"/>
          <xf:setvalue bind="field_coordinator" value="instance('data')/selected-values/field_coordinator"/>
          <xf:setvalue bind="visit_month"       value="instance('data')/selected-values/visit_date_period"/>
          <xf:setvalue ref="/olmis/health_center_visit/last_edited"   value="jr:today()"/>

          <!-- Set the localized visit date from the stored, ISO-formatted, date -->
          <xf:setvalue bind="l10n-visited_at"   value="olmis:date_to_local(instance('olmis')/health_center_visit/visited_at)"/>
          <!-- Force a revalidation of the form so the localized date is shown as valid -->
          <xf:dispatch name="xforms-revalidate" target="default-model" />

          <xf:toggle case="case-visit"/>
          <xf:load resource="javascript:set_active_tab('visit')" />
        </xf:action>
      </xf:submission>

      <xf:submission id="new"
        replace="instance"
        instance="olmis"
        ref="/nothing"
        method="get"
        validate="false"
        action="olmis.xml"
        includenamespaceprefixes="">
        <xf:action ev:event="xforms-submit" mode="synchronous">
          <xf:load resource="javascript:populate_fridge_form()" />
        </xf:action>
        <xf:action ev:event="xforms-submit-done">
          <xf:setvalue bind="visited_at"        value="instance('data')/selected-values/default_visit_date" />
          <xf:setvalue bind="l10n-visited_at"   value="olmis:date_to_local(instance('data')/selected-values/default_visit_date)"/>
          <xf:setvalue bind="health_center"     value="instance('data')/selected-values/health_center"/>
          <xf:setvalue bind="field_coordinator" value="instance('data')/selected-values/field_coordinator"/>
          <xf:setvalue bind="visit_month"       value="instance('data')/selected-values/visit_date_period"/>
          <xf:setvalue ref="/olmis/health_center_visit/last_edited"   value="jr:today()"/>

          <xf:toggle case="case-visit"/>
          <xf:load resource="javascript:set_active_tab('visit')" />
        </xf:action>
      </xf:submission>

      <xf:submission id="save"
        replace="instance"
        instance="olmis"
        ref="/olmis"
        method="put"
        validate="false"
        includenamespaceprefixes="">
        <xf:resource value="instance('data')/selected-values/selector" />
      </xf:submission>

      <xf:submission id="accept"
        replace="instance"
        instance="olmis"
        ref="/olmis"
        method="put"
        includenamespaceprefixes="">
        <xf:resource value="instance('data')/selected-values/selector" />
      </xf:submission>

      <xf:submission id="reject"
        replace="instance"
        instance="olmis"
        ref="/olmis"
        method="put"
        includenamespaceprefixes="">
        <xf:resource value="instance('data')/selected-values/selector" />
      </xf:submission>

      <xf:bind id="i-health-center" nodeset="instance('data')/selected-values/health_center" required="true()" relevant="false()"/>
      <xf:bind id="i-visit-month" nodeset="instance('data')/selected-values/visit_date_period" required="true()"/>
      <xf:bind id="i-delivery-zone" nodeset="instance('data')/selected-values/delivery_zone" required="true()"/>
      <xf:bind id="i-field-coordinator" nodeset="instance('data')/selected-values/field_coordinator" required="true()"/>
      
      <xf:bind nodeset="instance('olmis')/health_center_visit/epi_data_ready" id="epi_data_ready"
<%- if Rails.env == "development" -%>
        relevant="true()"
        required="true()"
<%- else -%>
        calculate="true()"
<%- end -%>
        type="xsd:boolean" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/epi_month" id="epi_month"
        type="xsd:gYearMonth"
        constraint="jr:date(concat(.,'-01')) &lt;= jr:today()"
        calculate="olmis:previous_yearmonth(instance('data')/selected-values/visit_date_period)"
        relevant="../epi_data_ready = true()" />

      <xf:bind nodeset="instance('olmis')/health_center_visit" relevant="true()" id="visit_data" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/field_coordinator" id="field_coordinator" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/health_center" id="health_center" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/non_visit_reason"       id="non_visit_reason"        required="true()" relevant="../visited = 'false'" constraint="string-length(.) &gt; 0 and . != 'Visited'"/>
      <xf:bind nodeset="instance('olmis')/health_center_visit/notes" id="notes" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/other_non_visit_reason" id="other_non_visit_reason"  required="true()" relevant="../visited = 'false' and ../non_visit_reason = 'other'" constraint="string-length(.) &gt; 0"/>
      <xf:bind nodeset="instance('olmis')/health_center_visit/visit_month" id="visit_month" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/visited" id="visited" required="true()" relevant="true()"/>
      <xf:bind nodeset="instance('olmis')/health_center_visit/visited_at" id="visited_at" required="true()" relevant="../visited != 'false'" readonly="true()" />
      <xf:bind nodeset="instance('data')/selected-values/visit_date" id="l10n-visited_at" required="true()" relevant="instance('olmis')/health_center_visit/visited != 'false'" constraint="jr:date(.) &lt;= jr:today() and jr:date(.) &gt;= jr:date(concat(../visit_date_period,'-01')) and jr:date(.) &lt;= jr:date(concat(../visit_date_period,'-31'))" />
      <xf:bind nodeset="instance('olmis')/health_center_visit/vehicle_id" id="vehicle_id" required="true()" relevant="../visited != 'false'"/>

      <% HealthCenterVisit.tables.each do |t| %>
        <%= render(:partial => '/data_sources/xforms/' + t.xforms_group_name + '_bind.xforms', :locals => { :klass => t } ) %>
       <% end %>

      <xf:action ev:event="xforms-ready">
        <xf:load resource="javascript:setup_visit_months()" />
        <xf:setvalue bind="i-visit-month" value="substring(jr:today(),1,7)" />
        <xf:setfocus control="access_code" />
      </xf:action>
      
      </xf:model>
  </head>
  <body>
    <h1><a href="/">Village Reach Prototype olmis</a></h1>
    <div id="login-form" class="container login inline">
      <h2><%= h(t("login.login.login_to", :name => "VR MIS3")) %></h2>
      <xf:group>
        <xf:secret id="access_code" ref="instance('data')/selected-values/access_code">
          <xf:label><%= h(t(".login.access_code")) %></xf:label>
        </xf:secret>

        <xf:trigger>
          <xf:label><%= h(t("login.login.submit_button")) %></xf:label>
        </xf:trigger>

        <xf:action ev:event="DOMActivate" mode="synchronous">
          <xf:load resource="javascript:login()" />
        </xf:action>
      </xf:group>
    </div>

    <xf:group id="user_tools">
      <xf:group id="language" class="content">
        <div>
          <em><%= h(t("layouts.locale.select_language")) %></em>
          <%- I18n.available_locales.each do |locale| -%>
            <%- if I18n.locale.to_s == locale.to_s -%>
              <strong><%= h Languages.native_languages[locale] %></strong>
            <%- else -%>
              <%= link_to(h(Languages.native_languages[locale]), url_for({ :overwrite_params => { :locale => locale } })) %>
            <%- end -%>
          <%- end -%>
        </div>
      </xf:group>
      <xf:group bind="login-active" id="user" class="content">
        <div>
          <xf:trigger appearance="minimal">
            <xf:label><%= h(t("logout")) %></xf:label>
            <xf:action ev:event="DOMActivate">
              <xf:load resource="javascript:logout()" />
            </xf:action>
          </xf:trigger>
          <xf:group bind="visit-period-selected" class="content">
            <em><%= h(t(".selected_fc")) %></em>
            <strong><xf:output value="instance('data')/selected-values/field_coordinator" /></strong>

            <xf:trigger appearance="minimal">
              <xf:label><%= h(t(".go_to_main_page")) %></xf:label>
              <xf:action ev:event="DOMActivate">
                <xf:load resource="javascript:show_main_page()" />
              </xf:action>
            </xf:trigger>
          </xf:group>
        </div>
      </xf:group>
    </xf:group>

    <div id="context-selector" class="container login inline">   
      <h2><%= h(t(".main.page_title")) %></h2>

      <table>
        <tbody>
          <tr>
            <td id="enter-data">
              <h3><%= h(t(".main.enter_data")) %></h3>
              <xf:group>
                <xf:select1 id="dz-selector" ref="instance('data')/selected-values/delivery_zone">
                  <xf:label><%= h(t("delivery_zone")) %></xf:label>
                  <xf:itemset nodeset="instance('data')/blank | olmis:sort(instance('data')/province/delivery_zone/@name)">
                    <xf:label ref="."/>
                    <xf:value ref="../@code"/>
                  </xf:itemset>
                  <!--xf:action ev:event="xforms-value-changed">
                    <xf:setvalue if="instance('data')/selected-values/field_coordinator = ''" bind="i-field-coordinator" value="instance('data')/province/fc[@dz=instance('data')/selected-values/delivery_zone]/@name" />
                  </xf:action-->
                  <xf:alert><%= h(t(".errors.select_dz")) %></xf:alert>
                </xf:select1>
                <xf:select1 id="fc-selector" ref="instance('data')/selected-values/field_coordinator">
                  <xf:label><%= h(t("field_coordinator")) %></xf:label>
                  <xf:itemset nodeset="instance('data')/blank | olmis:sort(instance('data')/province/fc/@name)">
                    <xf:label ref="."/>
                    <xf:value ref="."/>
                  </xf:itemset>
                  <!--xf:action ev:event="xforms-value-changed">
                    <xf:setvalue if="instance('data')/selected-values/delivery_zone = ''" bind="i-delivery-zone" value="instance('data')/province/fc[@name=instance('data')/selected-values/field_coordinator]/@dz" />
                  </xf:action-->
                  <xf:alert><%= h(t(".errors.select_fc")) %></xf:alert>
                </xf:select1>
                <xf:select1 id="visit-month-selector" ref="instance('data')/selected-values/visit_date_period">
                  <xf:label><%= h(t(".visit_month")) %></xf:label>
                  <xf:item><!-- dynamically generated --></xf:item>
                  <xf:alert><%= h(t(".errors.select_visit_month")) %></xf:alert>
                </xf:select1>
                <xf:trigger bind="login-selected">
                  <xf:label><%= h(t("go")) %></xf:label>
                  <xf:action ev:event="DOMActivate" mode="synchronous">
                    <xf:setvalue bind="field_coordinator" value="instance('data')/selected-values/field_coordinator"/>
                    <xf:setvalue bind="visit_month"       value="instance('data')/selected-values/visit_date_period"/>
                    <xf:load resource="javascript:select_location()" />
                  </xf:action>
                </xf:trigger>
              </xf:group>
            </td><!-- id="enter-data" -->

            <td id="other-actions">
              <h3><%= h(t(".main.other_actions")) %></h3>
              <ul>
                <li><a href="#todo"><%= h(t(".main.view_pickups")) %></a></li>
                <li><a href="#todo"><%= h(t(".main.view_reports")) %></a></li>
                <li id="upload_link" class="online"><a class="inline" href="#login"><%= h(t(".status.login_and_upload")) %></a><a class="inline" style="display: none" href="#upload"></a></li>
              </ul>
            </td><!-- id="other-actions" -->
          </tr>
        </tbody>
      </table>
    </div><!-- id="context-selector" -->

    <div id="location-selector" class="container">
      <h3>
        <!-- HACK: Evil, ugly hack to get at the raw translation. -->
        <%= (I18n.backend.send(:lookup, I18n.locale, "data_sources.hcvisit.hc.page_title") || '').
                         sub("{{delivery_zone}}",%Q{<xf:output value="instance('data')/province/delivery_zone[@code=instance('data')/selected-values/delivery_zone]/@name" />}).
                         sub("{{visit_month}}",%Q{<xf:output value="olmis:month_of_year(instance('data')/selected-values/visit_date_period)" />}) %>
      </h3>

      <div id="warehouse-actions">
        <ul>
          <li><a href="#todo"><%= h(t(".hc.before_warehouse_visit")) %></a></li>
          <li><a href="#todo"><%= h(t(".hc.after_warehouse_visit")) %></a></li>
        </ul>
      </div>

      <div>
        <h4><%= h(t(".hc.choose")) %></h4>
        <div id="year-month-selector" class="inline">
          <xf:group>
            <xf:select1 id="health-center-selector" ref="instance('data')/selected-values/health_center">
              <xf:itemset nodeset="instance('data')/province/district/health_center">
                <xf:label ref="@name"/>
                <xf:value ref="@code"/>
              </xf:itemset>
            </xf:select1>
            <xf:action ev:event="xforms-value-changed">
              <xf:load resource="javascript:setup_visits()" />
              <xf:send ev:event="xforms-submit" submission="load" if="instance('data')/selected-values/context-selected = true() and instance('data')/selected-values/selected-month-exists = true()" />
              <xf:send ev:event="xforms-submit" submission="new"  if="instance('data')/selected-values/context-selected = true() and instance('data')/selected-values/selected-month-exists = false()" />
            </xf:action>
          </xf:group>
        </div>

        <div id="saved-forms">
          <form>
            <div id="saved-forms-search">
              <label><%= h(t("search_button")) %></label>
              <input type="text" id="saved-forms-filter" />
              <button id="saved-forms-search-reset" onclick="javascript:reset_saved_forms_search(); return false;"><%= h(t("reset_button")) %></button>
            </div>
            <select size="10" id="saved-forms-control" />
          </form>
        </div>
      </div>
    </div><!-- id="location-selector" -->

    <div id="form" class="container">
      <h3 id="current_hc">
        <xf:output value="instance('data')/province/district/health_center[@code=instance('data')/selected-values/health_center]/@name"/>, <xf:output value="olmis:month_of_year(instance('data')/selected-values/visit_date_period)" />
        <xf:trigger appearance="minimal">
          <xf:label><%= h(t(".go_to_hc_selection")) %></xf:label>
          <xf:action ev:event="DOMActivate">
            <xf:load resource="javascript:show_visits()" />
          </xf:action>
        </xf:trigger>
      </h3>

      <xf:group bind="context-selected">
        <div id="tab-menu">
          <xf:group id="tab-menu-inner">
            <% (['visit'] + HealthCenterVisit.screens).each do |screen| %>
              <xf:trigger 
                <%- if HealthCenterVisit.klass_by_screen[screen].depends_on_visit? %>bind="visited_at"<% end -%> 
                id="tab-<%= screen %>" class="menu-tab selected-tab" appearance="minimal">
                <xf:label><%= h(t(".tasks.#{ screen }")) %></xf:label>              
                <xf:action ev:event="DOMActivate">
                  <xf:toggle case="case-<%= screen %>"/>
                  <xf:load resource="javascript:set_active_tab('<%= screen %>')" />
                </xf:action>
              </xf:trigger>
            <% end %>
          </xf:group><!-- ref="instance('olmis')/hcvisit" -->
        </div><!-- id="tab-menu" -->

        <xf:group id="form-contents" ref="instance('olmis')/health_center_visit">
          <xf:action ev:event="xforms-value-changed">
            <xf:send ev:event="xforms-submit" submission="save" if="instance('data')/selected-values/context-selected = true()" />
          </xf:action>
          <xf:action ev:event="DOMFocusOut">
            <xf:send ev:event="xforms-submit" submission="save" if="instance('data')/selected-values/context-selected = true()" />
          </xf:action>
          <xf:switch>
            <% (['visit'] + HealthCenterVisit.screens).each do |screen| %>
              <xf:case id="case-<%= screen %>">
                <% begin %>
                  <%= render(:partial => '/data_sources/xforms/' + screen + '_screen.xforms', :locals => { :screen => screen }) %> 
                <% rescue ActionView::MissingTemplate
                     klass = HealthCenterVisit.klass_by_screen[screen]
                     begin 
                   %><%= render(:partial => '/data_sources/xforms/' + klass.xforms_group_name + '_screen.xforms', :locals => { :klass => klass, :screen => screen } ) %><%
                     rescue ActionView::MissingTemplate
                       raise "Can't find #{klass.xforms_group_name}_screen.xforms"
                     end
                   end %>
              </xf:case>               
            <% end %>
          </xf:switch>
        </xf:group><!-- id="form-contents" -->
      </xf:group><!-- bind="context-selected" -->
    </div>
    <div id="status_footer">
      <xf:group bind="login-active">
        <div id="online_indicator">
          <div class="online"><%= h(t(".status.online")) %></div>
          <div class="offline"><%= h(t(".status.offline")) %></div>
        </div>
      </xf:group>
      <xf:group>
        <div id="status_indicator">
          <div>
            <a href="<%= request.url %>"><%= h(t(".status.updated")) %></a>
          </div>
        </div>
        <div id="download_indicator">
          <div>
            <p><%= h(t(".status.downloading")) %> ... <span id="download-pct"></span></p>
            <em id="download-progress-bar" style="width: 0"></em>
          </div>
        </div>
      </xf:group>
    </div>
    <div id="lightbox-data" style="display: none">
      <div id="login" class="lightbox-container">
        <h3><%= h(t(".login_to_server")) %></h3>
        <form action="javascript:ajax_login()">
          <label for="login-login"><%= h(t("username")) %></label><input type="text" id="login-login" /><br />
          <label for="login-password"><%= h(t("password")) %></label><input type="password" id="login-password" /><br />
          <input id="login-button" type="submit" value="<%= h(t('login.login.submit_button')) %>" />
        </form>
      </div>
      <div id="upload" class="lightbox-container">
        <h3><%= h(t(".upload.ready")) %></h3>
        <div id="upload-ready">
          <p id="upload-empty" style="display:none"><%= h(t(".upload_empty")) %></p>
          <ul></ul>
          <p id="upload-button" style="display:none"><input type="button" onclick="upload_all()" value="<%= h(t('.upload_all')) %>" /></p>
        </div>
        
        <h3><%= h(t(".upload.uploaded")) %></h3>
        <div id="upload-uploaded"><ul></ul></div>
      </div>
    </div>
  </body>
</html>
